<!--Footer-->
<footer class="bg-footerbackground">
  <div class="container mx-auto px-6 pt-4 pb-6">
    <div class="flex flex-wrap">
      <div class="w-full md:w-1/4 text-center md:text-left ">
        <h5 class="uppercase mb-6 font-bold">NAMMA NIMMA CYCLE FOUNDATION </h5>
        <ul class="mb-4">
          <li class="mt-2">
            <img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1596466515/nncfcycleinfra/nncflogo_dioyt8.png" class="w-20 h-20 object-cover" />
            <br>
            <p> 3354 Servelots K R Road Bangalore </p>
            <p>contact@nammacycle.in </p>
          </li>
        </ul>
      </div>
      <div class="w-full md:w-1/4 text-center md:text-left ">
        <h5 class="uppercase mb-6 font-bold text-footertext">Legal</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a href="#" class="text-footertext hover:text-footerhovertext">Terms</a>
          </li>
          <li class="mt-2">
            <a href="#" class="text-footertext hover:text-footerhovertext">Privacy</a>
          </li>
        </ul>
      </div>
      <div class="w-full md:w-1/4 text-center md:text-left ">
        <h5 class="uppercase mb-6 font-bold text-footertext">Social</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a href="https://www.facebook.com/profile.php?id=424625174240173&ref=br_rs" class="text-footertext hover:text-footerhovertext">Facebook</a>
          </li>
          <li class="mt-2">
            <a href="https://www.linkedin.com/in/muralihr/?lipi=urn%3Ali%3Apage%3Ad_flagship3_feed%3BNwZR5G7ERZeavgiB%2BuD3QA%3D%3D&licu=urn%3Ali%3Acontrol%3Ad_flagship3_feed-nav.settings_view_profile"
              class="text-footertext hover:text-footerhovertext">Linkedin</a>
          </li>
          <li class="mt-2">
            <a href="https://twitter.com/nammacycle" class=" text-footertext hover:text-footerhovertext">Twitter</a>
          </li>
        </ul>
      </div>
      <div class="w-full md:w-1/4 text-center md:text-left ">
        <h5 class="uppercase mb-6 font-bold text-footertext">Company</h5>
        <ul class="mb-4">
          <li class="mt-2">
            <a href="https://muralihr.gitbook.io/" class="text-footertext hover:text-footerhovertext">Official Blog</a>
          </li>
          <li class="mt-2">
            <a routerLink="/about" class="text-footertext hover:text-footerhovertext">About Us</a>
          </li>
          <li class="mt-2">
            <a routerLink="/contact" class="text-footertext  hover:text-footerhovertext">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>
