<!-- NAVBAR COMPONENT -->
<div class="container mt-5 mx-auto px-2">
  <!-- BUTTON COMPONENT -->
  <!-- ALERT COMPONENT -->
</div>
<!-- CARD COMPONENT -->
<div class="max-w-sm pt-20 mx-auto flex p-6 bg-white rounded-lg shadow-xl">
  <div class="flex-shrink-0">
    <img src="https://yogi.run/assets/img/logo.png" alt="" class="h-12 w-12" />
  </div>
  <div class="ml-6 ">
    <h4 class="text-xl text-gray-900">Yogi run </h4>
    <p class="text-base text-gray-600">Run to yourself</p>
  </div>
</div>

<div class="container mt-5 mx-auto px-2">
  <!-- Flex on med screens and up -->
  <div class="md:flex">
    <div class="flex-1 text-gray-700 text-center bg-gray-200 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1596448399/nncfcycleinfra/about_o9lzbc.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm text-gray-900 font-bold">
            Spaces
          </div>
          <div class="block mt-1 text-lg leading-tight   text-gray-900  "> A run whose route is designed to connect your soul to the sacred.</div>
        </div>
      </div>
    </div>
    <div class="flex-1 text-gray-700 text-center bg-gray-200 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://cdn.cdnparenting.com/articles/2019/05/14152248/553670923-H-1024x700.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm text-gray-900 font-bold">
            Food
          </div>
          <div class="block mt-1 text-lg leading-tight  text-gray-900"> Run where food and nourishment enerigizes your internal system.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="md:flex">
    <div class="flex-1 text-gray-700 text-center bg-gray-200 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="http://yogi.run/assets/img/nandiwinner/21058.JPG" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm text-gray-900 font-bold">
            Run
          </div>
          <div class="block mt-1 text-lg leading-tight   text-gray-900 "> Run to create impactful awareness, conscious attention and silence stillness within..
          </div>
        </div>
      </div>
    </div>
    <div class="flex-1 text-gray-700 text-center bg-gray-200 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://yogi.run/assets/img/slider/slide1.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm text-gray-900 font-bold">
            Music
          </div>
          <div class="block mt-1 text-lg leading-tight   text-gray-900  "> Run where the Body movement will be integrated with the music of the drums.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="md:flex">
    <div class="flex-1 text-gray-700 text-center bg-gray-200 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://yogi.run/assets/img/slider/slide3.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm text-gray-900 font-bold">
            Community
          </div>
          <div class="block mt-1 text-lg leading-tight  text-gray-900  "> The Run which will be organized with the support of local community..
          </div>
        </div>
      </div>
    </div>
    <div class="flex-1 text-gray-700 text-center bg-gray-200 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://imgmedia.lbb.in/media/2018/07/5b4616813f22c513e6ff1487_1531319937694.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm text-gray-900 font-bold">
            Heritage and Culture
          </div>
          <div class="block mt-1 text-lg leading-tight   text-gray-900  "> Run to discover your own glorious heritage and culture..
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
