<!-- NAVBAR COMPONENT -->
<div class="container mt-5 mx-auto px-2">
  <!-- BUTTON COMPONENT -->
  <!-- ALERT COMPONENT -->
</div>
<!-- CARD COMPONENT -->
<div class="max-w-sm pt-20 mx-auto flex p-6 bg-white rounded-lg shadow-xl">
  <div class="flex-shrink-0">
    <img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595956108/kaveri/man-riding-bike-street-vector-illustration_80802-92_xu6ev5.jpg" alt="" class="h-12 w-12" />
  </div>
  <div class="ml-6 ">
    <h4 class="text-xl text-gray-900">Cycle Tourism </h4>
    <p class="text-base text-gray-600">Opportunities for the Future</p>
  </div>
</div>

<div class="container mt-5 mx-auto px-2">
  <!-- Flex on med screens and up -->
  <div class="md:flex">
    <div class="flex-1 text-gray-700 text-center bg-gray-300 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595757638/kaveri/IMG_1132_h5fmeh.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm primarydark font-bold">
            Heritage Ride
          </div>
          <div class="block mt-1 text-lg leading-tight   text-gray-900  "> We organized heritage ride at nandi Hills, sri rangapatna and other heritage locations .</div>
        </div>
      </div>
    </div>
    <div class="flex-1 text-gray-700 text-center bg-gray-300 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595756815/wtd2016/mhr_6_y5dbff.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm primarydark font-bold">
            Childrens Day Heritage Ride
          </div>
          <div class="block mt-1 text-lg leading-tight   text-gray-900  "> We organized heritage ride at at Mysore in association with Karnataka Tourism Department .</div>

        </div>
      </div>
    </div>
  </div>
  <div class="md:flex">
    <div class="flex-1 text-gray-700 text-center bg-gray-300 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595756908/wtd2016/World_Tourisum_day_4_sjqh9h.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm primarydark font-bold">
            Bangalore Heritage and History Ride
          </div>
          <div class="block mt-1 text-lg leading-tight   text-gray-900  "> We organized heritage and history ride at Bangalore in association with Karnataka Tourism Department covering colonial bangalore and old bangalore localities.</div>

        </div>
      </div>
    </div>
    <div class="flex-1 text-gray-700 text-center bg-gray-300 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595954233/WTD2019/bguditourism_skg3jh.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm primarydark font-bold">
            World Tourism Day 2019
          </div>
          <div class="block mt-1 text-lg leading-tight   text-gray-900">
            We organized yoga, music and heritage and history ride at Bangalore in association with Karnataka Tourism Department covering colonial bangalore and old bangalore localities.
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="md:flex">
    <div class="flex-1 text-gray-700 text-center bg-gray-300 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595954753/kaveri/kaveri_ctfxxj.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm primarydark font-bold">
            Kaveri Ride
          </div>
          <div class="block mt-1 text-lg leading-tight   text-gray-900">
            We organized bicycle ride along the river kaveri .
          </div>
        </div>
      </div>
    </div>
    <div class="flex-1 text-gray-700 text-center bg-gray-300 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://imgmedia.lbb.in/media/2018/07/5b4616813f22c513e6ff1487_1531319937694.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm primarydark font-bold">
            Heritage and Culture Mapping
          </div>
          <div class="block mt-1 text-lg leading-tight   text-gray-900">
            We are in the process of mapping the heritage and cultural assets in our state..
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
