.resume {
  flex-basis: 900px;
}

main {
  @media (min-width: 900px) {
  display: grid;
  grid-template-areas:
    "skills bio bio"
    "skills experience experience"
    "skills education education";
  }
  grid-gap: 2rem;
  grid-template-columns: 3fr 1fr 1fr;
}

.bio {
  grid-area: bio;
}

.experience {
  grid-area: experience;
}

.education {
  grid-area: education;
}

.skills {
  grid-area: skills;
}
