

<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Nandi Habba</h1>
        <img class="h-60  w-40 object-cover object-center mb-6" src=" http://res.cloudinary.com/dsmfsfyci/image/upload/v1595861175/NandiHabba/nandihabba_ksqsqn.jpg" alt="content">


        <div class="h-1 w-20 bg-green-900 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-black">
        The festival dedicated to Nandi Hills had a  variety of fun-filled activities for all age-groups. Yoga sessions, cyclethon, local cuisine and food trucks, games for children and nature walks and lots more.
        Nandi Habba is being held  as part of the government’s undertaking to conserve and preserve the Nandi Hills as an area of outstanding natural beauty and historic significance.
      </p>


    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595758057/NandiHabba/cycling_btoihc.jpg" alt="content">
          <h3 class="tracking-widest text-gray-900 text-xs font-medium title-font">Bicycle race to the nandi top </h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Cyclothon</h2>
          <p class="leading-relaxed text-base">Cycle race was organized with the top cycling talent from Bangalore and India participated in the race.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595758057/NandiHabba/nandi3_fsgobo.jpg" alt="content">
          <h3 class="tracking-widest  text-gray-900 text-xs font-medium title-font">Run to the hills  </h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Marathon</h2>
          <p class="leading-relaxed text-base">A Half marathon was organized as part of the nandi habba from the base of the hills to the top of the hills.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595860363/NandiHabba/temple_gzppah.jpg" alt="content">
          <h3 class="tracking-widest text-gray-900 text-xs font-medium title-font">Walk in the glorious past </h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Heritage Walk</h2>
          <p class="leading-relaxed text-base">Discover the glory of nandi hills by heritage walk around nandi hills, bhoga nandeswara templeand birth place of Sir M Visweswaraiah at Muddenahalli.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595860455/NandiHabba/nandieco_vmidi9.jpg" alt="content">
          <h3 class="tracking-widest text-gray-900 text-xs font-medium title-font">Nandi Diversity Vision </h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Yoga and Nature Walk</h2>
          <p class="leading-relaxed text-base">Doing Yoga at the Bhoga Nandeswara temple . .</p>
        </div>
      </div>
    </div>
  </div>
</section>
