

<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20">
      <div class="lg:w-1/2 w-full mb-6 lg:mb-0">
        <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Bicycle Infrastructure</h1>
        <img class="h-60  w-40 object-cover object-center mb-6" src=" https://res.cloudinary.com/dsmfsfyci/image/upload/v1596011456/nncfcycleinfra/anuj-bansal-laTNCRAWXTM-unsplash_jpdgky.jpg" alt="content">


        <div class="h-1 w-20 bg-green-900 rounded"></div>
      </div>
      <p class="lg:w-1/2 w-full leading-relaxed text-black">
      We were active in enabling cycling track along Madiwala Lake, Jayanagar Bicycle Lanes, Mysore Bicycle Track, Parking of Bicycles at Jayanagar     </p>


    </div>
    <div class="flex flex-wrap -m-4">
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595950966/nncfcycleinfra/pic_article_Cycle_lane_HSR-2_om82rt.jpg" alt="content">
          <h3 class="tracking-widest text-blue-900 text-xs font-medium title-font">Enabling cycling safety in jayanagar </h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Bicycle Lane</h2>
          <p class="leading-relaxed text-base"> We worked with DULT and BBMP to design and intervene to create a safe corridor for cycling in Jayanagar Bangalore.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1596449697/small_env-murali-ramnath_eov6ha.jpg" alt="content">
          <h3 class="tracking-widest  text-blue-900 text-xs font-medium title-font">Lake Conservation and Sustainability </h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Bicycle Paths along Lakes</h2>
          <p class="leading-relaxed text-base">We proposed to the BBMP and DULT to safeguard our lakes by creating cycling lakes around the lakes.
            A pilot initiative was done by creating a bicycle track along the Madiwala Lake in Bangalore.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595950965/nncfcycleinfra/rmzinfinity_s7ufbq.jpg" alt="content">
          <h3 class="tracking-widest text-blue-900  text-xs font-medium title-font">Last mile connectivity to Metro </h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Bicycle Track </h2>
          <p class="leading-relaxed text-base"> We worked with Metro Authorities, RMZ Infinity and BBMP to create a exclusive walking and cycling track along the Old Mysore road connecting
            RMZ infinity and Byapanahalli Metro Station.</p>
        </div>
      </div>
      <div class="xl:w-1/4 md:w-1/2 p-4">
        <div class="bg-gray-100 p-6 rounded-lg">
          <img class="h-40 rounded w-full object-cover object-center mb-6" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595951422/nncfcycleinfra/cyclerack_nwj2wz.png" alt="content">
          <h3 class="tracking-widest text-blue-900 text-xs font-medium title-font">Bicycle Safety </h3>
          <h2 class="text-lg text-gray-900 font-medium title-font mb-4">Bicycle Parking</h2>
          <p class="leading-relaxed text-base">We were instrumental in creation of the bicycle parking facility at lalbagh and other prime locations in the Bangalore city .</p>
        </div>
      </div>
    </div>
  </div>
</section>
