<nav role='navigation'>
  <ul>
    <li><a href="#">NAMMA NIMMA CYCLE FOUNDATION </a></li>
    <li><a routerLink="/about" routerLinkActive="active">About</a>
      <ul>
        <li> <a routerLink="/team" routerLinkActive="active">Our Team</a> </li>

      </ul>
    </li>
    <li>
      <a href="#">Programs</a>
      <ul class="sub-menu">
        <li class="menu-item"><a routerLink="/nandi" routerLinkActive="active"> Nandi Habba </a></li>
        <li class="menu-item"><a routerLink="/yogirun" routerLinkActive="active">Yogi Run </a></li>
        <li class="menu-item"><a routerLink="/plog" routerLinkActive="active">Plog Run </a></li>
        <!--      <li class="menu-item"><a routerLink="/ksrpkd" routerLinkActive="active"> Karnataka Darshana </a></li> -->
      </ul>
    </li>
    <li>
      <a href="#">Our Work</a>
      <ul>
        <li class="menu-item"><a routerLink="/urbancycle" routerLinkActive="active"> Urban Planning </a></li>
        <li class="menu-item"><a routerLink="/cyclecooperatives" routerLinkActive="active"> Co-Operatives </a></li>
        <li class="menu-item"><a routerLink="/cycletourism" routerLinkActive="active"> Tourism </a></li>
        <li class="menu-item"><a routerLink="/campaigns" routerLinkActive="active"> Campaign </a></li>
      </ul>
    </li>
    <li>
      <a routerLink="#" routerLinkActive="active">Outreach </a>
      <ul>
        <li class="menu-item"><a routerLink="/gallery" routerLinkActive="active">Gallery </a></li>
        <li class="menu-item"><a routerLink="/events" routerLinkActive="active">Events </a></li>
        <li class="menu-item"><a routerLink="/news" routerLinkActive="active">News </a></li>
        <li class="menu-item"><a routerLink="/awards" routerLinkActive="active"> Awards </a></li>
      </ul>
    </li>
    <li class="menu-item"><a routerLink="/joinus" routerLinkActive="active">Join Us </a></li>
    <li class="menu-item"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ul>
</nav>
