<!-- NAVBAR COMPONENT -->
<!-- NAVBAR COMPONENT -->
<div class="container mt-5 mx-auto px-2">
  <!-- BUTTON COMPONENT -->
  <!-- ALERT COMPONENT -->
</div>
<!-- CARD COMPONENT -->
<div class="max-w-sm pt-20 mx-auto flex p-6 bg-white rounded-lg shadow-xl">
  <div class="flex-shrink-0">
    <img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595956108/kaveri/man-riding-bike-street-vector-illustration_80802-92_xu6ev5.jpg" alt="" class="h-12 w-12" />
  </div>
  <div class="ml-6 ">
    <h4 class="text-xl text-gray-900">Campaigns </h4>
    <p class="text-base text-gray-600">To Promote Cycling , Community Health and Wellness</p>
  </div>
</div>
<div class="container mt-5 mx-auto px-2">
  <!-- BUTTON COMPONENT -->
  <!-- ALERT COMPONENT -->
</div>
<!-- CARD COMPONENT -->

<div class="container mt-5 mx-auto px-2">
  <div class="md:flex">
    <div class="flex-1 text-gray-700 text-center bg-gray-400 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1596460012/cisco/cisco_cycle_2_sh11e8.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm text-gray-900 font-bold">
            Green Ride
          </div>
          <div class="block mt-1 text-lg leading-tight   text-gray-900  ">
            A campaign to promote the green culture in association with Green Bangalore.
          </div>
        </div>
      </div>
    </div>
    <div class="flex-1 text-gray-700 text-center bg-gray-400 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595949556/CycleDay/cycleday3_ubayai.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm text-gray-900 font-bold">
            Cycle Day
          </div>
          <div class="block mt-1 text-lg leading-tight   text-gray-900  ">
            A campaign to promote the cycling culture in various localities.
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="md:flex">
    <div class="flex-1 text-gray-700 text-center bg-gray-400 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1596460012/cisco/cisco_cycle_qqkykm.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm text-gray-900 font-bold">
            CISCO Pollution free ride
          </div>
          <div class="block mt-1 text-lg leading-tight   text-gray-900  ">
            A campaign to promote the pollution free roads along outer ring road in association with CISCO.
          </div>
        </div>
      </div>
    </div>
    <div class="flex-1 text-gray-700 text-center bg-gray-400 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595756565/prtc/20150128_081903_oc1jjw.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm text-gray-900 font-bold">
            PRTC Bicycle Campaign
          </div>
          <div class="block mt-1 text-lg leading-tight   text-gray-900  "> A campaign to promote the PRTC along the various towns and districts of Karnataka was organized
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
