<!-- CARD COMPONENT -->
<div class="max-w-sm mx-auto flex p-6 bg-white rounded-lg shadow-xl">

</div>
<!-- CARD COLUMNS -->
<div class="container mt-5 mx-auto px-2">
	<!-- Flex on med screens and up -->

</div>



<div class="bg-white py-24 px-12">

	<div class="max-w-xl mx-auto text-center">
		<h2 class="mb-2 font-black text-xl lg:text-3xl text-gray-900">What We Do ?.</h2>
		<h3 class="mb-6 text-base lg:text-lg text-gray-700 max-w-xl"> We are a section 8 non profit company working in the space of Sustainability and Innovation
			We have pioneered many movements in the space of Cycling and Sustainability.</h3>
	</div>

	<div class="flex flex-wrap">
		<div class="w-full">
			<ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
				<li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
					<a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(1)" [ngClass]="{'text-blue-800  bg-white': openTab !== 1, 'text-white bg-secondarydark': openTab === 1}">
						<i class="fas fa-space-shuttle text-base mr-1"></i> Innovation in Spaces
					</a>
				</li>
				<li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
					<a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(2)" [ngClass]="{'text-blue-800  bg-white': openTab !== 2, 'text-white bg-secondarydark ': openTab === 2}">
						<i class="fas fa-cog text-base mr-1"></i> Design
					</a>
				</li>
				<li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
					<a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(3)" [ngClass]="{'text-blue-800  bg-white': openTab !== 3, 'text-white bg-secondarydark': openTab === 3}">
						<i class="fas fa-briefcase text-base mr-1"></i> Campaigns
					</a>
				</li>
			</ul>
			<div class="bg-supportinglight relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
				<div class="px-4   flex-auto">
					<div class="  tab-content tab-space">
						<div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
							<ul>
								<li> To create a safe infrastructure inside the urban environment for people to walk and cycle </li>
								<li> To support the development and implementation of urban design that promotes e1uity and equality </li>
								<li> To empower citizens to create accident free residential areas </li>
								<li> To support and exploring the space of bicycle tourism as we see a huge growth in this sector communities to become champions of sustainable transport </li>
							</ul>

						</div>
						<div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
							<p>Bicycle related design is something we would love to work on for the reason - transparency, simplicity and open ness in design. </p>

							<p>We are in the process of building bicycle for indian stage with innovation and utility as the primary objective. </p>

							<ul>
								<li> To create a unique design for cycles in both urban & rural environment </li>
								<li> To support the development and implementation of cycle design among young designers </li>
							</ul>
						</div>
						<div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}">
							<p>
								New platform co-ops are emerging every day, organizing in diverse sectors such as childcare, data entry, urban recycling, and home services..
							</p>
							<ul>
								<li> To create a safe environment for people to walk and cycle </li>
								<li> To support the development and implementation of carbon less travel plans </li>
								<li> To empower young people to take action on the road journey </li>
								<li> To support communities to become champions of sustainable transport </li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

</div>
<div class="bg-gray-100 py-24 px-12">
	<div class="container mx-auto">

		<div class="flex flex-wrap">

			<div class="mb-12 lg:mb-0 w-full lg:flex-1">
				<h2 class="mb-4 font-black leading-tight text-xl md:text-3xl text-gray-900">Our Approach.</h2>
				<h3 class="mb-6 text-sm md:text-lg text-gray-700 max-w-xl">From Activism to Actionism .</h3>

				<ul class="py-6 mb-6">
					<li class="flex items-center mb-6">
						<img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595949556/CycleDay/cycleday3_ubayai.jpg" class="w-24 h-24 object-cover" />
						<div class="pl-5">
							<h4 class="font-black text-base md:text-lg text-gray-900 leading-tight mb-2">Connect to Communities.</h4>
							<p class="text-xs md:text-sm text-gray-700 leading-snug max-w-sm"> Communities are the epicenter of co-operatives. More than the technology and the process we need a community that is willing to embrace the
								mode of sustainable living.</p>
						</div>
					</li>
					<li class="flex items-center mb-6">
						<img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595949556/CycleDay/nammacycle_d87xd7.jpg" class="w-24 h-24 object-cover" />
						<div class="pl-5">
							<h4 class="font-black text-base md:text-lg text-gray-900 leading-tight mb-2">Build Tools and Infrastructure</h4>
							<p class="text-xs md:text-sm text-gray-700 leading-snug max-w-sm">We build tools which includes the hardware and the software to enable the process of renting the cycles and also well being services.</p>
						</div>
					</li>
					<li class="flex items-center">
						<img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595949556/CycleDay/decathloncycle_lkl8qu.jpg" class="w-24 h-24 object-cover" />
						<div class="pl-5">
							<h4 class="font-black text-base md:text-lg text-gray-900 leading-tight mb-2">Create Campaigns to Sustain.</h4>
							<p class="text-xs md:text-sm text-gray-700 leading-snug max-w-sm">Once the community is supportive of the effort , we create innovative campaigns to sustain the momentum .</p>
						</div>
					</li>
				</ul>

				<a href="#" class="inline-block bg-primarydark text-white py-2 px-5 text-base rounded-full hover:shadow-lg">Support Us </a>
			</div>

			<div class="w-full lg:w-5/12 px-12">

				<div class="bg-white p-4 rounded-lg shadow-lg">
					<img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595948502/oxa-roxa-glMhGidz7eo-unsplash_rz7lkp.jpg" class="w-full h-auto rounded" />
				</div>
			</div>
		</div>
	</div>
</div>


<div class="bg-primarydark text-white p-12">

	<div class="container mx-auto">
		<div class="flex flex-wrap justify-between items-center">
			<div class="text-center lg:text-left w-full mb-6 lg:mb-0 lg:w-auto">
				<strong class="font-black text-lg md:text-3xl">Join the Movement to Transform Urban Spaces</strong>
			</div>
			<div class="text-center lg:text-right w-full md:w-auto">
				<a href="#" class="inline-block bg-white text-blue-600 py-2 px-5 text-base rounded-full hover:shadow-lg">Get in touch!</a>
			</div>
		</div>
	</div>
</div>
