<div class="container my-12 mx-auto pt-24 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">
    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">
        <a href="#">
          <img alt="Placeholder" class="block h-auto w-full" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595964296/gallery-pics/heritgaride_sqwmzu.jpg">
        </a>
        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Childrens Day Ride
            </a>
          </h1>
          <p class="text-grey-darker text-sm"> 2017 </p>
        </header>
      </article>
      <!-- END Article -->
    </div>
    <!-- END Column -->
    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">
        <a href="#">
          <img alt="Placeholder" class="block h-auto w-full" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595964296/gallery-pics/priyankkharge_n4r4pf.jpg">
        </a>
        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Nandi Habba Thanks Giving to Priyank Kharge
            </a>
          </h1>
          <p class="text-grey-darker text-sm"> 2018 </p>
        </header>
      </article>
      <!-- END Article -->
    </div>
    <!-- END Column -->
    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">
        <a href="#">
          <img alt="Placeholder" class="block h-auto w-full" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595964295/gallery-pics/cyclewithdutch_s54zrt.jpg">
        </a>
        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Dutch Team Heritage Ride
            </a>
          </h1>
          <p class="text-grey-darker text-sm"> 11/1/19 </p>
        </header>
      </article>
      <!-- END Article -->
    </div>
    <!-- END Column -->
    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">
        <a href="#">
          <img alt="Placeholder" class="block h-auto w-full" src="https://res.cloudinary.com/dsmfsfyci/image/upload/c_scale,w_2008/v1595925469/DSC_0351_cooiab.jpg">
        </a>
        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              CISCO Pollution Awareness ride
            </a>
          </h1>
          <p class="text-grey-darker text-sm"> 11/1/18 </p>
        </header>
      </article>
      <!-- END Article -->
    </div>
    <!-- END Column -->
    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">
        <a href="#">
          <img alt="Placeholder" class="block h-auto w-full" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595964295/gallery-pics/pressreport_mldsoq.jpg">
        </a>
        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Chidrens Day Ride Report
            </a>
          </h1>
          <p class="text-grey-darker text-sm"> Nov 14 2017 </p>
        </header>
      </article>
      <!-- END Article -->
    </div>
    <!-- END Column -->
    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">
        <a href="#">
          <img alt="Placeholder" class="block h-auto w-full" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595964295/gallery-pics/ctravi_xdt9zs.jpg">
        </a>
        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Fit India Campaign
            </a>
          </h1>
          <p class="text-grey-darker text-sm"> Aug/23/19 </p>
        </header>
      </article>
      <!-- END Article -->
    </div>
    <!-- END Column -->
  </div>
</div>
