<nav class="menu">
  <ol>
    <li class="menu-item"><a routerLink="/" routerLinkActive="active">Home</a></li>
   <li class="menu-item">



   <!--    <ol class="sub-menu">


        <li class="menu-item"><a href="#0">Organization </a></li>
        <li class="menu-item"><a href="#0">Vision </a></li>
        <li class="menu-item"><a href="#0">Philosophy </a></li>


      </ol> -->
    </li>



    <li class="menu-item">
      <a href="#0">Programs</a>
      <ol class="sub-menu">
        <li class="menu-item"><a routerLink="/nandi" routerLinkActive="active"> Nandi Habba </a></li>
        <li class="menu-item"><a routerLink="/yogirun" routerLinkActive="active">Yogi Run </a></li>
        <li class="menu-item"><a routerLink="/plog" routerLinkActive="active">Plog Run </a></li>
        <!--      <li class="menu-item"><a routerLink="/ksrpkd" routerLinkActive="active"> Karnataka Darshana </a></li> -->

      </ol>
    </li>
    <li class="menu-item">
      <a href="#0">Our Work</a>
      <ol class="sub-menu">

        <li class="menu-item"><a routerLink="/urbancycle" routerLinkActive="active"> Urban Planning </a></li>
        <li class="menu-item"><a routerLink="/cyclecooperatives" routerLinkActive="active"> Co-Operatives </a></li>
        <li class="menu-item"><a routerLink="/cycletourism" routerLinkActive="active">  Tourism </a></li>
        <li class="menu-item"><a routerLink="/campaigns" routerLinkActive="active">   Campaign </a></li>
      </ol>
    </li>




    <li class="menu-item">
      <a routerLink="/about" routerLinkActive="active">Outreach </a>
      <ol class="sub-menu">



        <li class="menu-item"><a routerLink="/gallery" routerLinkActive="active">Gallery </a></li>
        <li class="menu-item"><a routerLink="/events" routerLinkActive="active">Events </a></li>
        <li class="menu-item"><a routerLink="/news" routerLinkActive="active">News </a></li>
        <li class="menu-item"><a routerLink="/awards" routerLinkActive="active"> Awards </a></li>

      </ol>
    </li>

    <li class="menu-item"><a routerLink="/joinus" routerLinkActive="active">Join Us </a></li>

    <li class="menu-item">
      <a routerLink="/about" routerLinkActive="active">About us</a>
          <ol class="sub-menu">


          </ol>
    </li>

    <li class="menu-item"><a routerLink="/contact" routerLinkActive="active">Contact</a></li>
  </ol>
</nav>
