<section class="text-gray-700 body-font border-t border-gray-200">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap w-full mb-20 flex-col items-center text-center">
      <h1 class="sm:text-3xl text-2xl font-medium title-font mb-2 text-gray-900">Our Events </h1>
      <p class="lg:w-1/2 w-full leading-relaxed text-base">We are activating many events and campaigns around the theme of Sustainability, Heritage and Eco Tourism </p>
    </div>
    <div class="flex flex-wrap -m-4">
      <div class="max-w-sm rounded overflow-hidden shadow-lg px-6 py-4">
        <img class="w-full" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595954753/kaveri/kaveri_ctfxxj.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Kaveri Ride </div>
          <p class="text-gray-700 text-base">
            Join us to ride across kaveri and discover the beauty of the glorious river
          </p>
          <a href="http://plog.run" class="inline-block bg-secondarydark  font-condensed text-primary py-2 px-5 text-white text-base rounded-full hover:shadow-lg hover:bg-secondarylight   hover:text-white">Ride to kaveri now </a>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg px-6 py-4">
        <img class="w-full" src="http://tour.nammacycle.in/assets/images/nandidd-1400x886-21.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Nandi Heritage Ride</div>
          <p class="text-gray-700 text-base">
            Join us to ride across Nandi hills and discover the heritage of nandi </p>
          <a href="http://plog.run" class="inline-block bg-secondarydark font-condensed text-primary py-2 px-5 text-white text-base rounded-full hover:shadow-lg hover:bg-secondarylight  hover:text-white">Ride to nandi hills now </a>
        </div>
      </div>
      <div class="max-w-sm rounded overflow-hidden shadow-lg px-6 py-4">
        <img class="w-full" src="http://tour.nammacycle.in/assets/images/img-3120-2000x1262-83.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">World Tourism Day 2019</div>
          <p class="text-gray-700 text-base">
            Join us to ride and discover the heritage of basavanagudi
          </p>
          <a href="http://plog.run" class="inline-block bg-secondarydark  font-condensed text-primary py-2 px-5 text-white text-base rounded-full hover:shadow-lg hover:bg-secondarylight  hover:text-white">Register now </a>
        </div>
      </div>


      <div class="max-w-sm rounded overflow-hidden shadow-lg px-6 py-4">
        <img class="w-full" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595756776/plogrun/walkthetalk_otjgn0.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
          <div class="font-bold text-xl mb-2">Plog Run</div>
          <p class="text-gray-700 text-base">
            Join us to plog across Bangalore to make our city traffic free
          </p>
          <a href="http://plog.run" class="inline-block bg-secondarydark  font-condensed text-primary py-2 px-5 text-white text-base rounded-full hover:shadow-lg hover:bg-secondarylight  hover:text-white">Plog now </a>
        </div>
      </div>
    </div>
  </div>
</section>
