
<app-bike-animation>
</app-bike-animation>
<div class="pad_item text-white p-12" >
  <div class="container mx-auto">
    <div class="flex flex-wrap justify-between items-center">
      <div class="text-left lg:text-left w-full mb-6 lg:mb-0 lg:w-auto">
        <strong class="font-black text-lg md:text-3xl">Transform the Culture and Future of Mobility. </strong>
      </div>

    </div>
  </div>
</div>
<!--   -->
<!-- -->
