<section class="text-gray-700 body-font">
  <div class="container px-5 py-24 mx-auto">
  </div>
</section>



<div class="bg-gray-50 py-45">
  <div class="max-w-screen-xl mx-auto py-12 px-4 sm:px-6 lg:py-16 lg:px-8 lg:flex lg:items-center lg:justify-between">
    <h2 class="text-3xl leading-9 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
      Ready to pedal with us
      <br>
      <span class="text-gray-900">Become a Partner </span>
      <p> </p>
      <div
        class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
        <p> </p> Murali@nammacycle.in

      </div>
      <br>
   <div
        class="inline-flex items-center justify-center px-5 py-3 border border-transparent text-base leading-6 font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">
     Volunteer with Us : contact@nammacycle.in
      </div>
    </h2>
    <div class="mt-8 flex lg:flex-shrink-0 lg:mt-0">
      <div class="ml-3 inline-flex rounded-md shadow">
        <div
          class="inline-flex items-center justify-center  py-3 border border-transparent text-base leading-6 font-medium rounded-md text-indigo-600 bg-white hover:text-indigo-500 focus:outline-none focus:shadow-outline transition duration-150 ease-in-out">

          <div class="lg:flex-shrink-0">
            <img class="rounded-lg lg:w-64" src=" http://tour.nammacycle.in/assets/images/bicycle-graphic-design.gif" alt="" />
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
