<div class="w-full bg-blue-600">

	<div class="bg-white py-24 px-12">

		<div class="max-w-xl mx-auto text-center">
			<h2 class="mb-2 font-black text-xl lg:text-3xl text-gray-900">Bicycle Co-Operative Platform Ecosystem.</h2>
			<h3 class="mb-6 text-base lg:text-lg text-gray-700 max-w-xl"> A bicycle hub that helps you start, grow, or convert to platform co-ops.for bicycle sharing.</h3>
		</div>

		<div class="flex flex-wrap">
			<div class="w-full">
				<ul class="flex mb-0 list-none flex-wrap pt-3 pb-4 flex-row">
					<li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
						<a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(1)" [ngClass]="{'bg-secondarylight bg-white': openTab !== 1, 'text-white bg-secondarydark': openTab === 1}">
							<i class="fas fa-space-shuttle text-base mr-1"></i> Platform Co-Operative
						</a>
					</li>
					<li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
						<a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(2)" [ngClass]="{'bg-secondarylight bg-white': openTab !== 2, 'text-white bg-secondarydark': openTab === 2}">
							<i class="fas fa-cog text-base mr-1"></i> StakeHolders
						</a>
					</li>
					<li class="-mb-px mr-2 last:mr-0 flex-auto text-center">
						<a class="text-xs font-bold uppercase px-5 py-3 shadow-lg rounded block leading-normal" (click)="toggleTabs(3)" [ngClass]="{'bg-secondarylight bg-white': openTab !== 3, 'text-white bg-secondarydark': openTab === 3}">
							<i class="fas fa-briefcase text-base mr-1"></i> A Movement
						</a>
					</li>
				</ul>
				<div class="relative flex flex-col min-w-0 break-words bg-white w-full mb-6 shadow-lg rounded">
					<div class="px-4 py-5 flex-auto">
						<div class="tab-content tab-space">
							<div [ngClass]="{'hidden': openTab !== 1, 'block': openTab === 1}">
								<p>
									Platform cooperatives are businesses that use a website, mobile app, or protocol to sell goods or services. They rely on democratic decision-making and shared ownership of the platform by workers and users..
									<br />
									<br />
									The Internet can be owned and governed differently. The experiments now already underway show that a global ecosystem of cooperatives and unions, in collaboration with movements such as Free and Open Source Software is possible.
								</p>
							</div>
							<div [ngClass]="{'hidden': openTab !== 2, 'block': openTab === 2}">
								<p>
									Platform co-ops create fair and dignified working conditions for users and workers, offering profits for the many, not the few.s.
									<br />
									<br />
									The cooperative platform ecosystem ranges from alternative financing models, labor brokerages for nurses, massage therapists, and cleaners, to cooperatively owned online marketplaces, and data-protection platforms for patients.
								</p>
							</div>
							<div [ngClass]="{'hidden': openTab !== 3, 'block': openTab === 3}">
								<p>
									New platform co-ops are emerging every day, organizing in diverse sectors such as childcare, data entry, urban recycling, and home services..
									<br />
									<br />
									Platform cooperativism is a growing international movement that builds a fairer future of work. It’s about social justice and the bottom line. Rooted in democratic ownership,co-op members, technologists, unionists, and freelancers
									create a concrete near-future alternative to the extractive sharing economy.
								</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="bg-gray-100 py-24 px-12">
	<div class="container mx-auto">
		<div class="flex flex-wrap">
			<div class="mb-12 lg:mb-0 w-full lg:flex-1">
				<h2 class="mb-4 font-black leading-tight text-xl md:text-3xl text-gray-900"> Culture of freedom .</h2>
				<h3 class="mb-6 text-sm md:text-lg text-gray-700 max-w-xl"> Modern Shared economy gives little freedom about the data ownership and the service contract between the employere and the employee . Co-operatives solve
					this by enabling better freedom and collaboration to build the service .</h3>
				<ul class="py-6 mb-6">
					<li class="flex items-center mb-6">
						<img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1596452134/platform/danielle-macinnes-PhD_YRuJXCM-unsplash_rkjcnd.jpg" class="w-24 h-24 object-cover" />
						<div class="pl-5">
							<h4 class="font-black text-base md:text-lg text-gray-900 leading-tight mb-2">From service access to ecosystem access .</h4>
							<p class="text-xs md:text-sm text-gray-700 leading-snug max-w-sm">Co-operative System approach the problem by creating an eco system , rather than a service working in silos.</p>
						</div>
					</li>
					<li class="flex items-center mb-6">
						<img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1596452135/platform/markus-winkler-cPQm848spJw-unsplash_euza8n.jpg" class="w-24 h-24 object-cover" />
						<div class="pl-5">
							<h4 class="font-black text-base md:text-lg text-gray-900 leading-tight mb-2">Venture Capital to Circular Economy.</h4>
							<p class="text-xs md:text-sm text-gray-700 leading-snug max-w-sm"> Many of the chinese VCs have invseted heavilly in the bicycle sharing economy and have gone bust. hence we feel the business model for bicycle sharing
								is a co-operative and collaborative model. </p>
						</div>
					</li>
					<li class="flex items-center mb-6">
						<img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1596452134/platform/agefis-13z851QZVtE-unsplash_yxiddb.jpg" class="w-24 h-24 object-cover" />
						<div class="pl-5">
							<h4 class="font-black text-base md:text-lg text-gray-900 leading-tight mb-2">Making the digital economy our own .</h4>
							<p class="text-xs md:text-sm text-gray-700 leading-snug max-w-sm">
								When we collaborate and co-operate in the design of the economy and the utility with focus on people the digital services and the economics shall remain
								with the StakeHolders.</p>
						</div>
					</li>
					<li class="flex items-center mb-6">
						<img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1596452292/platform/jeshoots-com-fzOITuS1DIQ-unsplash_jcrmg8.jpg" class="w-24 h-24 object-cover" />
						<div class="pl-5">
							<h4 class="font-black text-base md:text-lg text-gray-900 leading-tight mb-2"> Strategy and Operations Co-operative .</h4>
							<p class="text-xs md:text-sm text-gray-700 leading-snug max-w-sm"> And also a one solution fits all approach does not exist hence a collective strategy and co-operative action is evolved </p>
						</div>
					</li>
					<li class="flex items-center">
						<img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1596452134/platform/danielle-macinnes-PhD_YRuJXCM-unsplash_rkjcnd.jpg" class="w-24 h-24 object-cover" />
						<div class="pl-5">
							<h4 class="font-black text-base md:text-lg text-gray-900 leading-tight mb-2">Cooperation Beats Aggregation.</h4>
							<p class="text-xs md:text-sm text-gray-700 leading-snug max-w-sm">In the longer term the advantages of Cooperation beats the economy of Aggregation and Isolation.</p>
						</div>
					</li>
				</ul>
				<a href="#" class="inline-block bg-secondarydark text-white py-2 px-5 text-base rounded-full hover:bg-secondarylight">More Reports and Presentations </a>
			</div>
			<div class="w-full lg:w-5/12 px-12">
				<div class="bg-white p-4 rounded-lg shadow-lg">
					<img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595948502/oxa-roxa-glMhGidz7eo-unsplash_rz7lkp.jpg" class="w-full h-auto rounded" />
				</div>
			</div>
		</div>
	</div>
</div>

<div class="bg-primarydark  text-white p-12">
	<div class="container mx-auto">
		<div class="flex flex-wrap justify-between items-center">
			<div class="text-center lg:text-left w-full mb-6 lg:mb-0 lg:w-auto">
				<strong class="font-black text-lg md:text-3xl">Join Us to start a Bicycle Co-operative </strong>
			</div>
			<div class="text-center lg:text-right w-full md:w-auto">
				<a href="#" class="inline-block bg-white text-blue-600 py-2 px-5 text-base rounded-full hover:shadow-lg">Get in touch!</a>
			</div>
		</div>
	</div>
</div>
<div class="bg-white py-24 px-12">


	<div class="w-full p-6 bg-blue-100">
		<div class=" pt-6 border-b-2 border-orange-500 text-center text-2xl text-blue-700">Pillars of Platform Co-operatives</div>
		<div class="p-2 text-center text-lg text-gray-700">We offer the best web development solutions.</div>
		<div class="flex justify-center flex-wrap p-10">
			<div class="relative w-48 h-64 m-5 bg-white shadow-lg">
				<div class="flex items-center w-48 h-20 bg-orange-500">
					<i class="fas fa-bezier-curve fa-3x mx-auto text-white"></i>
				</div>
				<p class="mx-2 py-2 border-b-2 text-center text-gray-700 font-semibold uppercase">Create & Connect </p>
				<p class="p-2 text-sm text-gray-700"> Create & Connect cooperatives with the digital economy by developing appropriate platform
					technology</p>
				<div class="absolute right-0 bottom-0 w-8 h-8 bg-gray-300 hover:bg-orange-300 text-center cursor-pointer">
					<i class="fas fa-chevron-right mt-2 text-orange-500"></i>
				</div>
			</div>
			<div class="relative w-48 h-64 m-5 bg-white shadow-lg">
				<div class="flex items-center w-48 h-20 bg-blue-400">
					<i class="fas fa-bezier-curve fa-3x mx-auto text-white"></i>
				</div>
				<p class="mx-2 py-2 border-b-2 text-center text-gray-700 font-semibold uppercase">Community Design</p>
				<p class="p-2 text-sm text-gray-700">Community Involvement through Creative Engagement .</p>
				<div class="absolute right-0 bottom-0 w-8 h-8 bg-gray-300 hover:bg-orange-300 text-center cursor-pointer">
					<i class="fas fa-chevron-right mt-2 text-orange-500"></i>
				</div>
			</div>
			<div class="relative w-48 h-64 m-5 bg-white shadow-lg">
				<div class="flex items-center w-48 h-20 bg-pink-600">
					<i class="fas fa-bezier-curve fa-3x mx-auto text-white"></i>
				</div>
				<p class="mx-2 py-2 border-b-2 text-center text-gray-700 font-semibold uppercase">Network Effects </p>
				<p class="p-2 text-sm text-gray-700"> Network Effects & Ecosystem Enablement .</p>
				<div class="absolute right-0 bottom-0 w-8 h-8 bg-gray-300 hover:bg-orange-300 text-center cursor-pointer">
					<i class="fas fa-chevron-right mt-2 text-orange-500"></i>
				</div>
			</div>
			<div class="relative w-48 h-64 m-5 bg-white shadow-lg">
				<div class="flex items-center w-48 h-20 bg-yellow-500">
					<i class="fas fa-bezier-curve fa-3x mx-auto text-white"></i>
				</div>
				<p class="mx-2 py-2 border-b-2 text-center text-gray-700 font-semibold uppercase"> Bike Networks </p>
				<p class="p-2 text-sm text-gray-700"> Creating a sustainable bike network model which can then be replicated across cities
					once the pilot is successful.</p>
				<div class="absolute right-0 bottom-0 w-8 h-8 bg-gray-300 hover:bg-orange-300 text-center cursor-pointer">
					<i class="fas fa-chevron-right mt-2 text-orange-500"></i>
				</div>
			</div>
		</div>
	</div>
</div>
