<div class="container my-12 mx-auto pt-24 md:px-12">
  <div class="flex flex-wrap -mx-1 lg:-mx-4">
    <!-- Column -->
    <!-- END Column -->
    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">
        <a href="https://www.financialexpress.com/industry/how-entrepreneurs-government-officials-private-players-adopt-cycling-culture-in-india/938767/">
          <img alt="Placeholder" class="block h-auto w-full" src="https://images.financialexpress.com/2017/11/cats-160.jpg">
        </a>
        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="https://www.financialexpress.com/industry/how-entrepreneurs-government-officials-private-players-adopt-cycling-culture-in-india/938767/">
              How entrepreneurs, government officials, private players adopt cycling culture in India
            </a>
          </h1>
          <p class="text-grey-darker text-sm"> 2018 </p>
        </header>
      </article>
      <!-- END Article -->
    </div>
    <!-- END Column -->
    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">
        <a href="https://www.ibtimes.co.in/bbmps-bengaluru-plog-run-set-enter-guinness-world-records-782121">
          <img alt="Placeholder" class="block h-auto w-full" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1596447132/nncfcycleinfra/plastic-waste_o2u8h4.jpg">
        </a>
        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href=" https://www.ibtimes.co.in/bbmps-bengaluru-plog-run-set-enter-guinness-world-records-782121">
              BBMP's Bengaluru Plog Run set to enter the Guinness World Records
            </a>
          </h1>
          <p class="text-grey-darker text-sm"> 11/1/19 </p>
        </header>
      </article>
      <!-- END Article -->
    </div>
    <!-- END Column -->
    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">
        <a href="https://www.thenewsminute.com/article/nandi-habba-pics-celebrating-rich-biodiversity-and-heritage-iconic-hills-77421">
          <img alt="Placeholder" class="block h-auto w-full" src="https://www.thenewsminute.com/sites/default/files/styles/news_detail/public/Yoga%20sessions%20at%20Nandi%20Habba-compressed.jpg">
        </a>
        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="https://www.thenewsminute.com/article/nandi-habba-pics-celebrating-rich-biodiversity-and-heritage-iconic-hills-77421">
              Hundreds of Bengalureans took part in the Nandi Habba, a day long celebration of the rich heritage of Nandi Hills, on Sunday.
            </a>
          </h1>
          <p class="text-grey-darker text-sm"> 11/1/18 </p>
        </header>
      </article>
      <!-- END Article -->
    </div>
    <!-- END Column -->
    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">
        <a href="https://bengaluru.citizenmatters.in/detox-bengaluru-with-plog-run-on-october-2-2018-register-now-27965">
          <img alt="Placeholder" class="block h-auto w-full" src="https://images.citizenmatters.in/wp-content/uploads/sites/14/2018/09/29162626/Bengaluru-Plog-Run-678x381.jpg">
        </a>
        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Detox Bengaluru with Plog Run on October 2, 2018, register now!
            </a>
          </h1>
          <p class="text-grey-darker text-sm"> October 2, 2018 </p>
        </header>
      </article>
      <!-- END Article -->
    </div>
    <!-- END Column -->
    <!-- Column -->
    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">
        <a href="#">
          <img alt="Placeholder" class="block h-auto w-full" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595964295/gallery-pics/ctravi_xdt9zs.jpg">
        </a>
        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="#">
              Fit India Campaign
            </a>
          </h1>
          <p class="text-grey-darker text-sm"> Aug/23/19 </p>
        </header>
      </article>
      <!-- END Article -->
    </div>



    <div class="my-1 px-1 w-full md:w-1/2 lg:my-4 lg:px-4 lg:w-1/3">
      <!-- Article -->
      <article class="overflow-hidden rounded-lg shadow-lg">
        <a href="https://www.thehindu.com/news/national/karnataka/52-ksrp-men-to-cycle-across-state/article19242397.ece">
          <img alt="Placeholder" class="block h-auto w-full" src="https://th.thgim.com/news/national/karnataka/article19242396.ece/ALTERNATES/FREE_460/09BGKSRPCYCLE">
        </a>
        <header class="flex items-center justify-between leading-tight p-2 md:p-4">
          <h1 class="text-lg">
            <a class="no-underline hover:underline text-black" href="https://www.thehindu.com/news/national/karnataka/52-ksrp-men-to-cycle-across-state/article19242397.ece">
              52 KSRP men to cycle across State
            </a>
          </h1>
          <p class="text-grey-darker text-sm"> 2017 </p>
        </header>
      </article>
      <!-- END Article -->
    </div>
    <!-- END Column -->
  </div>
</div>
