<div class="bg-white py-12 lg:py-12 px-6 lg:px-12">

  <div class="py-12">
    <h2 class="text-center uppercase text-2xl lg:text-4xl tracking-wider mb-12">Bengaluru Plog Run </h2>
    <p class="text-gray-700 mx-auto max-w-2xl text-center leading-relaxed mb-2">
      We brought the big players to conduct India's first plog run to eliminate plastic from the city.
      Around 8000 volunteers plogged across 100+ locations ,bringing a transformation in thinking.</p>
  </div>

  <div class="w-full h-screen relative ">
    <img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595756774/plogrun/joyallukas_dfiwe6.jpg" class="absolute top-0 left-0 w-full h-full object-cover" />
    <div class="relative z-10 px-24 text-center">

      <a href="https://plog.run" class="inline-block uppercase bg-white py-3 px-6 text-xl">Plog run </a>
    </div>
  </div>

  <div class="flex flex-wrap pt-12">
    <div class="flex flex-wrap -mx-2">
      <div class="w-full md:w-1/3 p-2 mb-12">
        <a href="#" class="block mb-8 bg-black hover:bg-gray-700">
          <img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595756772/plogrun/flagoff_vj334y.jpg" class="w-full h-64 object-cover opacity-75" />
        </a>
        <a href="#" class="block text-base text-left uppercase tracking-wider text-gray-700">Mayor Launcing the Plog run </a>
      </div>
      <div class="w-full md:w-1/3 p-2 mb-12">
        <a href="#" class="block mb-8 bg-black hover:bg-gray-700">
          <img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595756772/plogrun/commissionerA_fvr1ka.jpg" class="w-full h-64 object-cover opacity-75" />
        </a>
        <a href="#" class="block text-base text-left uppercase tracking-wider text-gray-700">Commissioner BBMP taking the first step </a>
      </div>
      <div class="w-full md:w-1/3 p-2 mb-12">
        <a href="#" class="block mb-8 bg-black hover:bg-gray-700">
          <img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595756771/plogrun/chini7g_mvimjt.jpg" class="w-full h-64 object-cover opacity-75" />
        </a>
        <a href="#" class="block text-base text-left uppercase tracking-wider text-gray-700">Student Community</a>
      </div>
    </div>
  </div>
</div>
