<!-- NAVBAR COMPONENT -->
<div class="container mt-25 mx-auto px-2">
  <!-- BUTTON COMPONENT -->
  <!-- ALERT COMPONENT -->
</div>
<div class="max-w-sm pt-20 mx-auto flex p-6 bg-orange-100 rounded-lg shadow-xl">
  
</div>

<div class="py-25 lex-grow w-full text-center md:text-left">




  <div class="w-full p-6 mx-auto bg-orange-100 lg:w-1/2 md:p-10 max-width-3">
    <svg class="w-3/4 h-auto mx-auto mb-4 md:w-1/2 lg:w-2/3" viewBox="0 0 372 56" fill="none" xmlns="http://www.w3.org/2000/svg">
      <path
        d="M10.8435 40L15.9834 25.4443L21.1565 40H24.3067L32 17H27.4902L22.6819 31.3586L17.5751 17H14.4249L9.31814 31.3586L4.50984 17H0L7.69327 40H10.8435ZM39.7398 40C42.3204 40 44.9699 38.9564 46.5871 37.0713L44.0409 34.5802C43.2495 35.4218 41.7355 36.4653 39.843 36.4653C37.4688 36.4653 35.5763 34.8832 35.3355 32.5941H46.8968C46.9656 32.2238 47 31.7861 47 31.3485C47 26.804 43.7312 23 39.1204 23C34.1656 23 31 26.9723 31 31.5168C31 36.6337 34.7505 40 39.7398 40ZM43 30H36C36.21 28.4471 37.75 27 39.64 27C41.495 27 42.86 28.4824 43 30ZM65.2475 40C66.897 40 68.4455 39.5 69.7921 38.3667V39.6667H74V16H69.6238V24.6667C68.3446 23.6667 66.796 23.1667 65.0119 23.1667C60.5683 23.1667 57 26.8333 57 31.6C57 33.8 57.8079 35.8 59.0871 37.2667C60.5347 38.9333 62.8238 40 65.2475 40ZM65.1796 36C62.7959 36 61 34.0981 61 31.517C61 29.1396 62.6 27 65.0816 27C66.7143 27 68.1184 27.8151 69 29.0377V33.9623C68.1837 35.1849 66.7796 36 65.1796 36ZM85.5 40C90.343 40 94 36.2297 94 31.5168C94 26.804 90.343 23 85.5 23C80.657 23 77 26.804 77 31.5168C77 36.2297 80.657 40 85.5 40ZM85.5 36C82.8281 36 81 33.9962 81 31.517C81 29.0377 82.8281 27 85.5 27C88.1719 27 90 29.0377 90 31.517C90 33.9962 88.1719 36 85.5 36ZM114.167 40C114.991 40 116.275 39.8667 116.835 39.6667L116.176 36C115.88 36.0667 115.056 36.1667 114.431 36.1667C113.376 36.1667 112.685 35.8667 112.256 35.3667C111.894 34.9333 111.729 34.3333 111.729 33.3333V27.1667H117V23.5H111.729V19H107.447V23.5H103V27.1667H107.447V32.8333C107.447 35.1333 107.809 36.5667 108.633 37.6667C109.72 39.1333 111.598 40 114.167 40ZM124.333 40V29.3521C124.933 28.507 126.433 27.3239 128.267 27.3239C129.267 27.3239 130.133 27.662 130.7 28.2366C131.3 28.8451 131.667 29.6901 131.667 31.3127V40H136V31.6507C136 28.8451 135.4 27.1887 134.333 25.9042C133 24.2817 130.967 23.2676 128.733 23.2676C127.067 23.2676 125.533 23.8423 124.333 24.7887V16H120V40H124.333ZM142.5 20C143.882 20 145 18.9157 145 17.5C145 16.0843 143.882 15 142.5 15C141.118 15 140 16.0843 140 17.5C140 18.9157 141.118 20 142.5 20ZM144 40V24H140V40H144ZM153.333 39V28.8182C153.933 28.0101 155.433 26.8788 157.267 26.8788C158.267 26.8788 159.133 27.202 159.7 27.7515C160.3 28.3333 160.667 29.1414 160.667 30.6929V39H165V31.0162C165 28.3333 164.4 26.7495 163.333 25.5212C162 23.9697 159.967 23 157.733 23C155.933 23 154.4 23.6141 153.167 24.5838V23.3232H149V39H153.333ZM175.281 48C178.412 48 181.038 46.7919 182.519 44.745C183.495 43.3691 184 41.6242 184 38.7047V23.3356H179.792V24.6443C178.513 23.604 176.863 23 175.012 23C170.568 23 167 26.6913 167 31.4899C167 33.7047 167.774 35.7181 169.053 37.1946C170.501 38.8725 172.824 39.9463 175.248 39.9463C176.897 39.9463 178.311 39.4765 179.624 38.4698V39.0067C179.624 41.0873 179.287 42.094 178.614 42.8322C177.873 43.7047 176.695 44.1409 175.281 44.1409C172.588 44.1409 171.073 42.7315 170.198 41.7919L167.438 44.6443C169.053 46.5235 172.083 48 175.281 48ZM176.18 36C173.796 36 172 34.0981 172 31.517C172 29.1396 173.6 27 176.082 27C177.714 27 179.118 27.8151 180 29.0377V33.9623C179.184 35.1849 177.78 36 176.18 36ZM193.534 40C196.951 40 200 38.0812 200 34.9505C200 29.295 192.126 30.1366 192.126 28.0158C192.126 27.1743 193.131 26.703 194.338 26.703C195.51 26.703 196.616 27.2079 197.454 27.8139L199.497 24.6495C198.425 23.8079 196.113 23 194.003 23C190.786 23 187.771 24.9525 187.771 28.0832C187.771 33.3347 195.644 32.4594 195.644 34.9168C195.644 35.7248 194.74 36.297 193.567 36.297C191.925 36.297 190.217 35.6911 189.111 34.6812L187 37.8119C188.91 39.2257 191.289 40 193.534 40ZM218.248 40C219.897 40 221.446 39.5 222.792 38.3667V39.6667H227V16H222.624V24.6667C221.345 23.6667 219.796 23.1667 218.012 23.1667C213.568 23.1667 210 26.8333 210 31.6C210 33.8 210.808 35.8 212.087 37.2667C213.535 38.9333 215.824 40 218.248 40ZM218.18 36C215.796 36 214 34.0981 214 31.517C214 29.1396 215.6 27 218.082 27C219.714 27 221.118 27.8151 222 29.0377V33.9623C221.184 35.1849 219.78 36 218.18 36ZM233.5 13C234.882 13 236 11.9157 236 10.5C236 9.08434 234.882 8 233.5 8C232.118 8 231 9.08434 231 10.5C231 11.9157 232.118 13 233.5 13ZM235 32V16H231V32H235ZM245.555 24V11.5H253.606V24H257.968V11.5H263V7.83333H257.968V7.33333C257.968 5.83333 258.203 5.23333 258.572 4.76667C259.108 4.13333 259.947 3.83333 261.021 3.83333C261.423 3.83333 261.96 3.9 262.329 4L263 0.299999C262.094 0.0666659 261.289 0 260.417 0C258.203 0 256.492 0.800002 255.351 1.9C254.21 3 253.606 4.56667 253.606 7.16667V7.83333H245.555V7.33333C245.555 5.83333 245.79 5.23333 246.159 4.76667C246.695 4.13333 247.534 3.83333 248.608 3.83333C249.01 3.83333 249.547 3.9 249.916 4L250.587 0.299999C249.681 0.0666659 248.876 0 248.004 0C245.79 0 244.079 0.800002 242.938 1.9C241.797 3 241.194 4.56667 241.194 7.16667V7.83333H237V11.5H241.194V24H245.555ZM272.74 32C275.32 32 277.97 30.9564 279.587 29.0713L277.041 26.5802C276.249 27.4218 274.735 28.4653 272.843 28.4653C270.469 28.4653 268.576 26.8832 268.335 24.5941H279.897C279.966 24.2238 280 23.7861 280 23.3485C280 18.804 276.731 15 272.12 15C267.166 15 264 18.9723 264 23.5168C264 28.6337 267.751 32 272.74 32ZM275 22H268C268.21 20.4471 269.75 19 271.64 19C273.495 19 274.86 20.4824 275 22ZM287.194 39V29.1414C287.71 28.204 289.161 26.8788 291 26.8788C291.613 26.8788 292.226 26.9434 292.516 27.0404L293 23.1293C292.548 23.0646 292.194 23 291.581 23C289.677 23 287.968 23.7434 287.032 24.9071V23.3232H283V39H287.194ZM301.74 48C304.32 48 306.97 46.9564 308.587 45.0713L306.041 42.5802C305.249 43.4218 303.735 44.4653 301.843 44.4653C299.469 44.4653 297.576 42.8832 297.335 40.5941H308.897C308.966 40.2238 309 39.7861 309 39.3485C309 34.804 305.731 31 301.12 31C296.166 31 293 34.9723 293 39.5168C293 44.6337 296.751 48 301.74 48ZM305 38H298C298.21 36.4471 299.75 35 301.64 35C303.495 35 304.86 36.4824 305 38ZM316.333 56V45.8182C316.933 45.0101 318.433 43.8788 320.267 43.8788C321.267 43.8788 322.133 44.202 322.7 44.7515C323.3 45.3333 323.667 46.1414 323.667 47.6929V56H328V48.0162C328 45.3333 327.4 43.7495 326.333 42.5212C325 40.9697 322.967 40 320.733 40C318.933 40 317.4 40.6141 316.167 41.5838V40.3232H312V56H316.333ZM340.167 40C340.991 40 342.275 39.8667 342.835 39.6667L342.176 36C341.88 36.0667 341.056 36.1667 340.431 36.1667C339.376 36.1667 338.685 35.8667 338.256 35.3667C337.894 34.9333 337.729 34.3333 337.729 33.3333V27.1667H343V23.5H337.729V19H333.447V23.5H329V27.1667H333.447V32.8333C333.447 35.1333 333.809 36.5667 334.633 37.6667C335.72 39.1333 337.598 40 340.167 40ZM351 35V11H347V35H351ZM361.128 49L372 24H367.541L363.277 34.0345L358.655 24H354L361.063 39.0345L356.702 49H361.128Z"
        fill="#2A3D48"></path>
    </svg>
    <p>We’re a small team of passionate  cyclists and tech people with big ambitions.
      We believe in simplicity in design ,  eliminating plastic from the planet, cutting emissions, reducing waste and most of all;
      making sustainable mobility and cycling accessible to everyone in
      society.</p>
  </div>
</div>



<section class="px-4 py-6 section md:py-12 md:pb-16 lg:px-6 lg:text-center">
       <svg class="hidden w-full h-auto px-48 mx-auto lg:block" viewBox="0 0 956 121" fill="none" xmlns="http://www.w3.org/2000/svg">
           <path d="M35.8396 46.9587C26.5263 44.5711 18.5209 57.7718 39.3694 57.7718C41.3664 57.7718 41.1045 53.723 40.5399 51.7645C39.0534 46.6079 38.5809 36.0376 33.4803 37.3423C9.20679 43.5509 27.5448 58.4199 33.4986 58.9733C45.5352 60.0921 52.3866 27.9483 29.9504 24.1262C17.0562 21.9296 17.2607 57.5725 26.4527 66.1821C46.4559 84.9178 58.1102 46.7136 54.6363 32.5364C51.6124 20.196 32.5858 21.9992 28.7754 32.5364C23.0239 48.4411 20.1651 56.7402 29.978 68.585C46.8966 89.0069 72.5521 49.2874 60.5071 34.9394C49.6226 21.9738 16.5418 34.4292 26.4436 52.966C35.8174 70.5143 66.3611 63.2714 60.5117 40.9467C55.7798 22.8874 21.3454 34.6726 18.2134 52.966C17.7601 55.6137 19.8877 58.2753 21.7478 60.1748C35.5952 74.3146 67.6692 49.2323 56.9818 36.1408C40.2113 15.5978 5.2806 42.1636 24.098 61.3762C43.1621 80.8407 71.3626 36.6074 41.6966 31.335C36.665 30.4407 31.2905 30.9637 26.4206 32.5364C4.78134 39.5248 15.87 83.1941 39.3832 79.3982C57.2348 76.5162 59.228 41.6004 46.4015 33.7379C24.1632 20.106 -5.0932 62.0235 21.757 83.0025C25.1101 85.6224 29.344 87.1354 33.5124 87.8084C37.0144 88.3738 40.6745 87.6028 44.0835 86.6069C67.3815 79.8009 70.6795 36.5731 34.637 33.7379C30.2602 33.3936 17.8003 31.1554 12.3197 36.1408C-8.66321 55.2276 21.1876 99.8716 45.2632 84.204C50.87 80.5553 55.7316 75.4801 59.3595 69.7865C81.6588 34.79 28.3689 20.4942 14.679 44.5511C4.20503 62.9567 29.8827 72.4682 42.913 70.9879C55.7767 69.5265 59.7388 42.909 55.8067 33.7379C51.213 23.0233 41.4263 22.2079 31.1163 20.5218C27.2486 19.8893 23.1892 19.6529 19.3656 20.5218C15.9469 21.2987 12.8374 23.2727 9.96952 25.3277C-10.8511 40.2468 39.6394 92.6058 53.4795 55.3689C62.5757 30.8957 38.0156 9.61997 15.8449 25.3277C-5.20212 40.2393 20.1234 75.9033 41.7379 70.9879C43.4465 70.5994 44.9036 69.4541 46.4337 68.585C48.4313 67.4503 50.5942 66.5197 52.3136 64.9806C72.5579 46.8603 51.0123 -0.248681 25.2501 21.7233C10.5139 34.2914 19.0936 70.8117 41.7334 66.1821C65.7089 61.2793 59.1772 21.8708 38.1714 16.9174C9.22338 10.0912 11.4588 71.0845 39.3832 80.5996C42.7482 81.7462 46.5561 82.8244 49.9589 81.8011C53.7167 80.671 56.9136 77.7204 59.3595 74.5923C85.0287 41.764 34.5172 12.3179 19.3747 43.3496C16.9962 48.2239 15.5594 53.5993 14.6882 58.9733C12.264 73.9261 34.6169 86.2401 46.4383 80.5996C61.4704 73.4271 65.9216 65.5944 68.7464 48.1601C70.0693 39.9953 66.1121 34.2131 59.3228 30.1335C55.7947 28.0135 51.6319 26.9748 47.5628 26.5291C40.5525 25.7614 33.3857 25.4724 26.4114 26.5291C22.5981 27.1069 18.8748 28.8982 15.8449 31.335C13.198 33.4638 11.3999 36.6236 9.9787 39.7452C-0.905488 63.6517 27.1188 78.3748 46.4383 69.7865C60.2062 63.666 62.2939 48.2859 61.6867 34.9394C61.2546 25.4404 40.9154 23.6524 35.8166 24.1262C1.60937 27.3052 4.67508 64.6796 26.4573 81.8011C47.0021 97.9499 59.9809 63.7493 55.8113 48.1554C49.5495 24.7368 0.831216 26.7295 5.28757 55.3689C9.4747 82.2782 69.4899 83.3338 64.0369 44.5511C60.9683 22.7267 12.8137 18.8506 9.98788 42.1528C7.06258 66.275 44.7985 85.4175 58.1753 62.5777C69.5547 43.1482 40.1256 20.8044 24.0705 32.5364C7.83784 44.3981 19.6886 80.0631 40.5583 75.7938C54.4985 72.942 54.5919 43.3429 35.8212 39.7452C16.7052 36.0814 -6.86499 62.6567 27.6278 66.1821" stroke="#FCE7D8" stroke-width="10"></path>
           <path d="M38 115.094C65.4441 96.7487 110 75.0574 173 73.7043C236 72.3511 277.001 116.457 334 115.094C390.999 113.732 437 72.703 486.076 68.186C535.152 63.669 437 113.37 472 113.732C507 114.093 618.269 108.404 662.972 113.732C744.209 123.414 844.793 99.6127 850.501 89.0619C863.501 65.0322 853.524 39 829.512 39C805.501 39 800.725 67.6726 806.501 80.0508C810.82 89.3064 822.21 98.8173 829.512 104.081C835.421 108.339 853 114.093 912 114.093" stroke="#0DB98C" stroke-dasharray="2 4"></path>
           <path d="M482 120C485.314 120 488 117.314 488 114C488 110.686 485.314 108 482 108C478.686 108 476 110.686 476 114C476 117.314 478.686 120 482 120Z" fill="white" stroke="#2A3D48" stroke-width="2"></path>
           <path d="M912 120C915.314 120 918 117.314 918 114C918 110.686 915.314 108 912 108C908.686 108 906 110.686 906 114C906 117.314 908.686 120 912 120Z" fill="white" stroke="#2A3D48" stroke-width="2"></path>
           <path d="M488.778 37.2827C484.403 35.7027 464.304 45.0351 497.501 48.8204C499.137 49.0069 499.411 45.0327 498.461 43.5778C495.164 38.5254 491.241 28.8953 485.867 30.9916C478.527 33.855 476.448 44.8991 474.271 53.0144C470.85 65.7642 500.444 47.8119 494.586 40.4282C484.728 28.0032 463.53 69.7906 486.858 69.7906C496.633 69.7906 502.833 56.5538 498.458 47.7678C495.311 41.449 470.371 35.1996 470.391 46.7234C470.4 51.5005 478.775 54.1863 482.022 53.0144C495.697 48.0785 496.357 24.884 478.12 27.8461C474.977 28.3565 472.052 30.1304 469.408 32.0401C435.908 56.2394 500.981 83.592 490.714 39.3797C487.869 27.127 455.802 23.8451 458.776 41.4808C459.767 47.3573 461.898 53.0462 464.595 58.257C466.495 61.9288 469.233 65.1683 472.342 67.6936C474.548 69.485 477.335 70.6528 480.086 70.8391C486.114 71.2472 492.108 66.9836 493.633 60.354C496.451 48.1096 497.614 38.8715 488.771 30.9916C478.939 22.231 451.801 17.8469 454.905 40.4323C455.806 46.9927 458.365 53.1845 460.723 59.3055C461.62 61.6321 462.953 63.8144 464.599 65.5966C467.522 68.7613 470.738 71.6817 474.282 73.9846C492.844 86.0457 516.24 44.7299 498.446 34.1371C467.407 15.6597 446.062 47.1033 466.531 76.0817C468.339 78.6407 470.797 80.6432 473.307 82.3727C478.16 85.7173 486.375 81.0396 488.797 76.0817C494.773 63.85 501.598 20.9412 485.863 15.264C453.597 3.62234 448.521 76.0944 474.282 81.3242C491.305 84.7801 509.17 66.9011 506.205 47.7719C504.34 35.746 487.369 31.7401 479.076 30.9916C475.739 30.6904 454.817 28.0001 449.082 35.1857C431.277 57.493 479.446 92.017 499.444 64.548C502.069 60.9428 508.983 44.4866 504.261 39.3797C478.451 11.4639 425.375 36.1067 461.699 77.1302C464.498 80.2915 468.398 82.4909 472.35 83.4212C495.236 88.8098 505.998 55.0158 501.358 36.2342C498.594 25.05 483.028 23.4104 475.205 22.6035C457.523 20.78 450.093 35.5927 452.001 54.0629C453.105 64.7562 460.702 76.3457 466.539 84.4697C467.94 86.4201 469.533 88.2591 471.378 89.7123C473.13 91.0917 475.037 92.5988 477.19 92.8578C505.997 96.3244 525.283 35.333 496.503 25.7491C473.163 17.9769 441.795 39.8332 453.944 68.7421C468.991 104.546 514.577 71.7016 504.265 41.4767C493.419 9.68649 415.513 24.0402 453.952 71.8876C457.262 76.0075 461.379 79.3441 465.574 82.3727C490.385 100.282 520.542 44.9611 495.542 34.1371C483.191 28.7893 455.917 28.8395 449.086 44.6223C445.187 53.6286 452.268 74.6266 461.699 78.1787C467.261 80.2737 473.292 82.1959 479.125 81.3242C492.999 79.2514 509.532 45.8411 499.422 33.0886C498.369 31.7613 497.075 30.4959 495.542 29.9431C483.785 25.702 472.79 26.2688 462.629 34.1371C448.103 45.3864 457.493 69.6642 471.378 75.0332C488.954 81.829 507.081 38.119 494.578 34.1371C473.762 27.5074 453.9 56.395 476.214 63.4995C486.753 66.8551 512.749 50.2748 505.233 37.2827C496.757 22.6305 470.198 43.8659 482.982 56.16C491.683 64.5275 510.131 53.4862 503.297 41.4767C495.758 28.2281 473.659 29.2064 472.327 46.7234C472.192 48.4998 472.562 50.3722 473.299 51.9659C474.862 55.3475 476.72 58.6497 479.114 61.4025C481.949 64.6619 485.103 67.7886 488.801 69.7906C507.074 79.6838 521.101 51.3176 508.129 37.2827C481.4 8.36242 453.827 57.5752 479.114 77.1302C495.761 90.0034 514.508 46.5581 496.51 39.3797C492.563 37.8052 488.134 38.3312 483.927 38.3312C446.442 38.3312 494.662 111.42 507.18 62.451C516.532 25.8662 447.123 19.4312 452.969 54.0629C461.398 104.002 520.282 73.8103 511.041 37.2827C507.421 22.9769 454.727 24.413 455.872 49.8689C457.909 95.138 515.198 89.4374 520.731 45.6749C521.39 40.4676 520.752 35.0853 519.748 29.9431C518.722 24.6898 508.096 20.8617 506.182 20.5065C488.144 17.159 450.045 22.3318 453.937 53.0144C459.15 94.1161 518.395 81.9104 512.98 38.3353C510.071 14.9218 444.231 24.5528 455.872 55.1115C457.478 59.3265 459.854 63.2486 462.663 66.6451C471.628 77.4868 488.149 83.743 499.448 72.9361C510.071 62.776 513.413 39.4458 497.475 33.0886C489.943 30.0848 483.088 28.1748 475.197 27.8461C463.415 27.3553 457.036 25.9346 447.142 33.0886C445.579 34.2193 444.76 36.3723 444.246 38.3312C443.447 41.3764 442.517 44.7186 443.289 47.7719C447.378 63.9423 486.164 100.627 497.505 71.8876C499.996 65.5754 503.404 54.0115 498.454 47.7678C490.826 38.1466 465.884 33.7201 458.765 45.6708C450.067 60.2715 463.864 77.2433 478.15 75.0332C487.574 73.5751 491.68 55.9166 492.658 48.8204C495.819 25.8628 456.119 49.1046 469.427 63.4995C478.237 73.0288 486.384 52.1252 482.971 45.6708C480.294 40.608 476.546 47.8161 476.199 48.8204C475.85 49.833 487.137 81.2234 480.067 40.4282C479.533 37.3447 468.435 64.5531 480.074 61.4025C483.203 60.5556 489.934 51.1098 486.842 47.7678C481.311 41.7875 472.745 60.6763 474.263 65.5966C474.775 67.2555 475.617 69.3308 477.174 69.7906C489.514 73.4323 496.165 53.9094 483.935 48.8163C470.782 43.3392 477.797 62.2314 482.974 65.5966C483.594 65.9993 484.785 65.3182 484.914 64.548C486.017 57.9598 478.913 25.2853 470.391 41.4808C466.105 49.6274 478.256 64.1675 485.882 58.257C490.149 54.95 480.712 45.1375 477.167 50.9174C474.188 55.7743 483.321 64.3995 487.818 62.451C498.287 57.915 472.764 41.2693 474.263 54.0629C475.777 66.9878 495.63 53.696 488.778 50.9133C473.975 44.9008 477.167 69.3151 477.167 53.0144" stroke="#FCE7D8" stroke-width="10"></path>
           <path d="M915.364 35.6117C900.122 20.5665 875.023 33.7311 907.324 56.4972C913.209 60.6447 930.605 54.971 927.464 48.5423C921.907 37.1694 905.78 35.0209 894.205 29.6456C891.994 28.6188 890.194 30.6864 894.217 42.5761C895.221 45.5433 897.02 48.32 899.262 50.531C901.503 52.7419 904.336 54.462 907.324 55.5028C910.192 56.5015 913.461 57.3005 916.391 56.4972C923.927 54.4309 928.643 47.5856 930.486 40.5874C937.398 14.3428 901.75 4.96334 896.22 27.6569C894.806 33.4588 895.079 39.7012 896.232 45.5592C897.148 50.219 899.573 54.5653 902.284 58.4859C904.694 61.9719 907.995 64.8285 911.358 67.4351C912.78 68.5375 914.59 69.3051 916.395 69.4238C919.762 69.6454 923.45 69.9197 926.468 68.4295C940.815 61.3457 947.367 36.4436 936.511 24.6738C929.804 17.4033 906.415 14.0096 900.241 23.6794C883.155 50.4412 919.147 81.9533 938.549 46.5536C949.311 26.9186 921.469 3.80544 904.267 17.7133C887.096 31.5956 900.676 70.2137 921.432 59.4803C926.057 57.0882 929.471 52.7377 932.505 48.5423C957.008 14.6547 887.161 9.66677 894.213 42.5761C903.017 83.6631 956.353 45.896 929.459 20.6964C921.996 13.7035 904.579 3.7858 897.227 16.7189C895.612 19.5606 893.077 28.3833 894.213 32.6326C895.406 37.0978 896.957 41.5401 899.262 45.5592C919.672 81.1606 950.604 38.6308 929.455 22.6851C891.11 -6.22585 872.793 53.5398 906.321 68.4295C909.703 69.9316 913.759 70.1089 917.402 69.4238C922.736 68.421 928.946 64.5315 931.501 59.4803C937.237 48.1414 938.69 40.9778 936.518 27.6569C933.155 7.02593 887.686 6.22462 883.12 30.6399C881.812 37.6335 879.076 50.4765 883.14 58.4859C885.309 62.7615 888.15 66.7084 891.207 70.4182C892.564 72.0656 894.258 73.5875 896.247 74.3956C933.456 89.5121 961.235 34.5294 928.44 19.702C915.151 13.694 894.32 16.2049 890.172 32.6287C887.676 42.5108 883.16 62.7062 897.251 68.4295C916.891 76.4067 960.273 22.0862 918.362 15.7246C913.716 15.0193 908.875 14.8481 904.259 15.7246C856.793 24.7361 901.189 94.7666 932.513 53.5141C935.664 49.3636 938.247 44.6164 939.556 39.5931C940.981 34.1257 941.794 28.1949 940.548 22.6851C939.655 18.7342 936.991 14.8409 933.485 12.7415C927.125 8.93389 919.599 7.26117 912.314 5.78097C872.482 -2.3119 882.026 55.0588 913.373 59.4803C927.307 61.4457 928.327 38.2499 926.445 31.6343C923.409 20.9675 905.016 10.6813 894.197 13.7358C884.763 16.3994 888.945 30.7106 892.21 36.61C900.155 50.9653 907.862 62.4074 925.465 64.452C941.29 66.2902 942.878 37.7099 941.555 29.6456C939.061 14.4403 921.513 5.65157 907.289 6.77533C895.998 7.66734 895.991 23.0175 895.22 29.6495C893.235 46.7278 909.029 69.9986 927.476 65.4464C933.099 64.0586 938.542 55.5573 939.56 51.5254C941.598 43.4587 941.844 34.9712 941.555 26.6625C941.116 14.0084 911.022 7.69929 903.26 14.7302C880.97 34.9178 909.328 70.8175 926.468 56.4972C942.627 42.9974 945.656 4.7004 915.348 15.7246C892.028 24.2071 903.415 65.585 924.45 54.5085C940.024 46.3072 934.801 18.4607 914.345 24.6738C893.356 31.0485 907.373 63.7118 927.472 49.5367C931.2 46.9077 942.817 26.034 932.485 23.6794C921.156 21.0977 906.85 36.4929 911.338 47.5479C913.317 52.4209 915.541 22.6885 904.279 30.6399C901.009 32.9485 899.137 41.4703 902.276 44.5649C920.665 62.6934 933.708 18.8147 902.256 32.6287C899.43 33.87 897.725 36.9211 896.228 39.5931C895.864 40.2421 896.491 41.5081 897.239 41.5818L900.269 42.5761C902.609 42.8069 905.063 43.2137 907.324 42.5761C912.873 41.0118 920.062 34.0392 922.427 29.6495C928.315 18.7225 909.193 20.809 905.282 24.6738C901.084 28.8229 894.944 40.3182 907.317 37.6043C912.001 36.5768 912.898 23.6445 908.312 26.6625C901.312 31.2691 906.799 42.1311 913.361 43.5705C915 43.93 917.391 44.8969 918.398 43.5705C926.082 33.4432 904.691 15.0291 902.272 30.6438C901.752 34.0028 903.977 41.0147 906.309 43.5705C907.931 45.3472 910.081 46.731 912.357 47.5479C923.543 51.5617 930.286 25.1756 919.389 20.6964C906.62 15.4474 894.163 46.038 907.317 52.5197C917.622 57.5982 931.146 35.1113 922.411 28.6512C904.236 15.2089 886.903 36.838 905.306 56.4972C906.326 57.5867 907.839 58.4036 909.339 58.4859C914.045 58.7439 918.83 58.4497 923.442 57.4915C962.785 49.3175 916.898 18.5971 908.304 29.6456C905.775 32.8977 905.498 37.4866 905.294 41.5818C905.158 44.312 906.283 46.9991 907.313 49.5367C918.76 77.7495 946.186 23.6794 919.378 23.6794C896.407 23.6794 884.208 62.4633 912.361 62.4633C916.959 62.4633 921.805 57.9275 924.45 55.5028C960.863 22.1183 880.885 19.559 895.224 52.5197C906.679 78.8517 939.953 68.575 935.515 39.5931C933.298 25.1106 879.4 37.8947 891.195 59.4803C905.957 86.4973 932.62 51.1655 929.471 32.6326C928.239 25.3803 913.414 27.8441 910.307 28.6512C900.748 31.1349 890.173 39.7063 890.183 50.531C890.212 79.0586 939.479 71.0507 929.463 36.6061C928.105 31.9362 920.464 30.9399 911.315 31.6343C899.444 32.5352 888.753 42.6975 888.169 54.5085C887.624 65.5155 902.501 72.0277 911.354 68.4295C923.26 63.5901 931.703 48.0231 929.471 35.6156C928.536 30.4212 918.909 30.388 916.355 30.6399C905.636 31.6974 888.274 40.4228 890.183 53.5141C891.526 62.7206 910.808 77.2772 918.402 66.4408C926.266 55.2183 924.404 55.9907 925.441 42.5761" stroke="#FCE7D8" stroke-width="10"></path>
           <path fill-rule="evenodd" clip-rule="evenodd" d="M942.123 56.3684H935.982V9.87719C935.982 9.52426 935.77 9.20217 935.441 9.06511C935.328 9.01713 935.208 9.00343 935.088 9.00685C935.068 9.00685 935.05 9 935.03 9H893.877C893.864 9 893.85 9.00685 893.836 9.00685C893.792 9.01028 893.75 9.01713 893.706 9.02741C893.661 9.03426 893.62 9.04454 893.579 9.05825C893.565 9.06511 893.552 9.06511 893.538 9.06854C893.511 9.07881 893.49 9.09595 893.466 9.11308C893.425 9.13363 893.387 9.15419 893.353 9.18161C893.319 9.2056 893.288 9.23643 893.26 9.26727C893.23 9.29811 893.202 9.32552 893.175 9.35979C893.147 9.39405 893.127 9.43518 893.106 9.47287C893.093 9.49685 893.075 9.51741 893.065 9.54482C893.058 9.55854 893.058 9.57224 893.055 9.58595C893.038 9.62706 893.031 9.67161 893.024 9.71273C893.014 9.75727 893.007 9.79839 893.007 9.84294C893.007 9.84979 893 9.86349 893 9.8772V76.5439C893 77.0304 893.391 77.4211 893.877 77.4211H897.386C897.873 77.4211 898.263 77.0304 898.263 76.5439V75.6667H914.053V76.5439C914.053 77.0304 914.443 77.4211 914.93 77.4211H922.821H922.825H942.123C942.609 77.4211 943 77.0304 943 76.5439V57.2456C943 56.7591 942.609 56.3684 942.123 56.3684L942.123 56.3684ZM929.842 58.1228H935.105V61.1073L932.871 59.9697C932.618 59.8429 932.319 59.8429 932.073 59.9731L929.842 61.121V58.1228ZM932.474 56.3684V13.7491L934.228 11.9947V56.3684H932.474ZM932.912 10.7544L931.158 12.5088H897.749L895.995 10.7544H932.912ZM894.754 11.9948L896.509 13.7492V75.6668H894.754V11.9948ZM914.053 63.3861V73.9124H898.263V14.2632H930.719V56.3685H922.825C922.338 56.3685 921.947 56.7591 921.947 57.2457V62.5089H914.93C914.443 62.5089 914.053 62.8995 914.053 63.3861ZM920.193 64.2632H921.947V66.1273L921.845 66.0827C921.738 66.0382 921.622 66.0176 921.509 66.0176C921.399 66.0176 921.286 66.0382 921.183 66.0793L920.193 66.4734V64.2632ZM915.807 64.2632H918.439V67.772C918.439 68.0633 918.583 68.334 918.822 68.4984C919.062 68.6629 919.371 68.6938 919.641 68.5875L921.502 67.844L921.947 68.0256V75.6667H915.807V64.2632ZM941.246 75.6668H923.702V58.1229L928.088 58.1229V62.5603C928.088 62.8652 928.249 63.1496 928.509 63.3107C928.65 63.3963 928.807 63.4375 928.965 63.4375C929.102 63.4375 929.239 63.4066 929.366 63.3415L932.477 61.7413L935.585 63.3244C935.856 63.4615 936.181 63.4478 936.442 63.2901C936.702 63.1257 936.86 62.8447 936.86 62.5397V58.1229H941.246V75.6668Z" fill="#2A3D48"></path>
           <path fill-rule="evenodd" clip-rule="evenodd" d="M904.404 40.5789C902.468 40.5789 900.895 42.1518 900.895 44.0877C900.895 46.0203 902.468 47.5965 904.404 47.5965C906.339 47.5965 907.912 46.0203 907.912 44.0877C907.912 42.1518 906.339 40.5789 904.404 40.5789ZM904.404 45.8421C903.437 45.8421 902.649 45.054 902.649 44.0877C902.649 43.1214 903.437 42.3333 904.404 42.3333C905.37 42.3333 906.158 43.1214 906.158 44.0877C906.158 45.054 905.37 45.8421 904.404 45.8421Z" fill="#2A3D48"></path>
           <path fill-rule="evenodd" clip-rule="evenodd" d="M35.5 23.8438C50.7503 23.8438 63.1562 36.2497 63.1562 51.5C63.1562 66.7503 50.7503 79.1562 35.5 79.1562C20.2497 79.1562 7.84375 66.7503 7.84375 51.5C7.84375 36.2497 20.2497 23.8438 35.5 23.8438ZM35.5 22C19.206 22 6 35.206 6 51.5C6 67.794 19.206 81 35.5 81C51.794 81 65 67.794 65 51.5C65 35.206 51.794 22 35.5 22Z" fill="#2A3D48"></path>
           <path fill-rule="evenodd" clip-rule="evenodd" d="M47.2241 71.9998C47.0102 71.9998 46.8289 71.9632 46.6917 71.922C46.1499 71.7619 44.5014 71.2744 42.8249 64.6843C42.2343 62.3547 41.7809 62.2289 40.9625 62.0024C40.4184 61.8513 39.6743 61.6454 38.8675 60.9726C37.9979 60.2449 37.5468 59.5424 37.1493 58.9223C36.6145 58.0847 36.2262 57.4829 34.8613 56.9314C34.0498 56.6042 33.5731 56.499 33.2848 56.4349C32.3804 56.2335 32.0804 55.8331 32.1362 54.9017C32.1501 54.7072 32.1664 54.4234 32.1548 54.0115C32.1153 52.4875 31.8688 51.6774 31.7525 51.5241C30.5411 50.6683 30.4086 50.1694 30.1831 48.7369C30.1435 48.4898 30.0994 48.2015 30.0389 47.8628C29.7831 46.4234 30.8341 45.0161 31.8479 43.6568C32.578 42.6797 33.4034 41.5744 33.3709 40.8421C33.257 38.0092 34.7009 37.1121 34.8636 37.0184L35.2589 36.7941L35.6798 36.9634C35.7937 37.0092 38.456 38.1099 40.258 40.9314C40.2626 40.936 40.265 40.9428 40.2696 40.9497C40.3487 40.6431 40.4161 40.2952 40.4603 40.0733C40.5533 39.6041 40.6254 39.2357 40.7439 38.9611C40.8881 38.5653 40.823 36.7094 40.6742 35.2266L40.6021 34.5172L41.281 34.2747C42.9552 33.6751 43.6946 33.8742 44.4107 34.4257C44.5456 34.5218 44.7502 34.5813 45.5128 34.2815L46.2383 34.0046C46.8824 33.7621 47.6799 33.4623 47.7567 33.2792C47.7985 33.1808 47.8218 32.7895 47.1382 31.3204C45.3943 27.556 47.2358 26.1487 47.452 26L48.517 27.5011L47.9845 26.7506L48.5565 27.4737C48.5472 27.4806 47.745 28.2197 48.8309 30.563C49.5215 32.0504 49.8493 33.0847 49.4773 33.9749C49.0959 34.8902 48.1752 35.2357 46.901 35.7163L46.1988 35.9841C44.6409 36.5905 43.9434 36.3982 43.2598 35.8628C43.1435 35.7758 43.0296 35.6889 42.5948 35.785C42.6971 37.0504 42.7808 38.9406 42.4553 39.682C42.3948 39.833 42.3483 40.1076 42.2879 40.4165C42.0507 41.6225 41.7833 42.9886 40.6742 43.1946C39.6442 43.3845 38.9444 42.309 38.6863 41.9017C37.6655 40.2998 36.3099 39.3708 35.5496 38.9429C35.3822 39.2587 35.1985 39.8284 35.2357 40.7644C35.2915 42.1328 34.3057 43.4555 33.35 44.7323C32.6037 45.7346 31.755 46.8696 31.8735 47.5402C31.9363 47.8926 31.9851 48.1923 32.0247 48.4509C32.2037 49.5859 32.2037 49.5859 32.9175 50.0985C33.5941 50.5859 33.9638 51.8857 34.0174 53.9589C34.0243 54.2701 34.022 54.5173 34.0127 54.7141C34.4173 54.8171 34.9009 54.959 35.5706 55.229C37.4865 56.0024 38.1166 56.9841 38.7281 57.9361C39.0862 58.4967 39.4257 59.0231 40.0814 59.57C40.5789 59.9865 40.9928 60.1009 41.4718 60.2336C42.825 60.6089 43.8411 61.1146 44.6363 64.2359C45.8245 68.9041 46.9382 70.1122 47.2358 70.1649C47.6311 69.8217 47.9008 69.602 48.1682 69.38C49.4378 68.332 50.5329 67.4281 51.3444 64.2335C51.8327 62.3205 52.0768 61.888 52.3907 61.4486C52.5721 61.1992 52.7953 60.8903 53.4672 57.9704C54.7972 52.1946 56.0761 50.172 56.1319 50.0871L56.6388 49.2998L57.4293 49.817C57.9757 50.174 60.7287 52.0458 61.1472 53.8056C61.2147 53.9497 61.6216 54.3799 61.8587 54.5882C62.6981 54.547 63.1934 52.8628 63.198 52.8444L65 53.3021C64.6512 54.6247 63.5049 56.7597 61.3751 56.3799C60.7427 56.2655 59.5103 54.9543 59.3336 54.222C59.1964 53.6362 58.2013 52.6888 57.2596 51.9588C56.8061 52.9886 56.0575 54.9977 55.2785 58.3729C54.574 61.4302 54.2903 61.9747 53.9067 62.5057C53.7532 62.7162 53.5835 62.9542 53.1464 64.6773C52.1838 68.4484 50.7492 69.6338 49.3587 70.7826C49.1122 70.9863 48.8611 71.1922 48.6146 71.4165C48.1101 71.8764 47.6148 72 47.2242 72L47.2241 71.9998Z" fill="#2A3D48"></path>
           <path fill-rule="evenodd" clip-rule="evenodd" d="M21.924 34C21.6915 34 21.4543 33.9243 21.2404 33.7173C20.18 32.6954 22.91 29.3961 23.9425 28.1561C23.9867 27.9869 24.2193 26.522 24.3611 25.3376L26.2099 25.538C25.8308 28.7394 25.5517 29.0777 25.4006 29.2603C25.2076 29.4918 24.689 30.1909 24.1612 30.9389C25.8959 30.3289 27.8493 30.1508 29.6422 29.9882C30.0886 29.9482 30.5305 29.9081 30.9513 29.8613C31.2723 29.828 31.3699 29.7612 31.3722 29.7589C31.3443 29.6276 30.9583 28.9286 30.7537 28.5545C30.3421 27.8043 29.9537 27.0941 30.163 26.4195C30.5025 25.3286 32.2512 23.3785 32.6001 23L34 24.1732C33.128 25.1261 32.0978 26.4485 31.949 26.9227C31.9862 26.9605 32.2373 27.4191 32.4048 27.7264C32.914 28.6569 33.493 29.71 32.9745 30.6472C32.6652 31.2038 32.0583 31.5355 31.1607 31.6312C30.7281 31.678 30.277 31.7181 29.8189 31.7604C27.4656 31.9741 24.8006 32.2167 23.1169 33.4835C22.9123 33.6349 22.4286 34 21.924 34L21.924 34Z" fill="#2A3D48"></path>
           <path fill-rule="evenodd" clip-rule="evenodd" d="M7.56336 52.9998L6 51.948C6.43992 51.316 7.14473 51.0104 7.83062 50.7166C8.94223 50.2385 9.39635 49.9656 9.44606 49.182C9.50992 48.1395 10.6121 46.922 11.2956 46.3926C11.8396 45.1775 13.2966 41.5859 13.2611 40.6577C13.2469 40.2986 13.1807 39.9067 13.1097 39.4683C12.8874 38.1366 12.587 36.3128 13.2966 33.9526L14.1859 31L16 31.5294L15.1107 34.4843C14.5241 36.434 14.763 37.887 14.9735 39.1674C15.061 39.6875 15.1343 40.1586 15.1509 40.5877C15.1745 41.2478 13.9517 45.3595 13.0175 47.1135L12.9205 47.3654L12.8827 47.3514C12.7171 47.6336 12.561 47.8225 12.4286 47.8808L12.4144 47.8854C12.0383 48.198 11.3572 48.9816 11.3311 49.2918C11.2081 51.2952 9.63055 51.9738 8.58276 52.4239C8.16885 52.6059 7.69584 52.8088 7.56336 53L7.56336 52.9998Z" fill="#2A3D48"></path>
           <path fill-rule="evenodd" clip-rule="evenodd" d="M27.9435 77.9995L26.0795 77.82C26.5356 73.1138 23.549 71.2809 21.5728 70.0707C20.5274 69.4294 19.7041 68.9256 19.6036 68.0558C19.4562 66.7218 15.8218 64.6276 14.1052 64.6137C12.1172 64.5973 11.9956 62.3329 11.9044 60.6795C11.8506 59.693 11.7781 58.3427 11.3618 57.9882C11.1981 57.8483 10.894 57.86 10.728 57.8716C9.95618 57.9509 8.95051 58.5106 8.48279 59.117L7 57.9813C7.77648 56.9738 9.26388 56.1482 10.5362 56.0176C11.3454 55.9383 12.0564 56.1272 12.5802 56.5727C13.6046 57.4472 13.6888 59.04 13.773 60.5815C13.8128 61.2671 13.8806 62.5451 14.1215 62.7643C16.3527 62.769 21.1636 65.1407 21.4678 67.8529C21.5309 67.8575 22.125 68.2213 22.5553 68.4872C24.6345 69.7582 28.5121 72.1346 27.9438 78L27.9435 77.9995Z" fill="#2A3D48"></path>
           <path d="M38 120C41.3137 120 44 117.314 44 114C44 110.686 41.3137 108 38 108C34.6863 108 32 110.686 32 114C32 117.314 34.6863 120 38 120Z" fill="white" stroke="#2A3D48" stroke-width="2"></path>
           <path fill-rule="evenodd" clip-rule="evenodd" d="M509.927 27.816L507.291 25.2538V21.9516C507.291 21.6995 507.191 21.4568 507.012 21.2783C506.834 21.0999 506.591 21 506.339 21H483.5C482.974 21 482.549 21.4258 482.549 21.9516V25.3632L479.905 28.0087C477.936 29.9666 476.832 32.6336 476.839 35.4097V42.511C474.319 42.1185 471.774 41.9258 469.226 41.9353C461.894 41.9353 454 43.4246 454 46.6934V75.2419C454 78.5107 461.894 80 469.226 80C476.558 80 484.452 78.5107 484.452 75.2419V70.4838H512.048C512.301 70.4838 512.543 70.3839 512.722 70.2055C512.9 70.0271 513 69.7844 513 69.5322V35.0456C513.002 32.3168 511.891 29.707 509.926 27.8157L509.927 27.816ZM511.097 64.7746H488.258V35.1463C488.256 33.8331 487.954 32.5365 487.373 31.3588L486.959 30.5167H509.71C510.616 31.8537 511.099 33.431 511.097 35.0464L511.097 64.7746ZM508.014 28.6132H486.022L485.082 26.71H506.058L508.014 28.6132ZM505.387 22.9035V24.8067H484.452V22.9035H505.387ZM469.226 43.8391C478.017 43.8391 482.549 45.8374 482.549 46.6939C482.549 47.5504 478.016 49.5488 469.226 49.5488C460.435 49.5488 455.903 47.5504 455.903 46.6939C455.903 45.8374 460.435 43.8391 469.226 43.8391ZM482.549 75.2421C482.549 76.0985 478.016 78.097 469.226 78.097C460.435 78.097 455.903 76.0986 455.903 75.2421V73.8956C458.682 75.4586 464.087 76.1937 469.226 76.1937V74.2905C460.435 74.2905 455.903 72.2921 455.903 71.4357V49.1535C458.682 50.7165 464.087 51.4516 469.226 51.4516C474.364 51.4516 479.77 50.7165 482.549 49.1535V50.5C482.549 51.3564 478.016 53.3549 469.226 53.3549V55.2581C474.365 55.2581 479.77 54.523 482.549 52.96V75.2421ZM486.355 68.5805H484.452V46.693C484.452 44.904 482.082 43.6526 478.742 42.8865V35.4094C478.737 33.1374 479.639 30.9558 481.25 29.3524L483.267 27.335L485.665 32.1977L485.667 32.2001C486.119 33.116 486.355 34.1272 486.355 35.1502V68.5805ZM488.258 68.5805V66.6773H511.097V68.5805H488.258Z" fill="#2A3D48"></path>
           <path fill-rule="evenodd" clip-rule="evenodd" d="M508.056 37H492.944C492.423 37 492 37.4272 492 37.9546V57.0454C492 57.2984 492.099 57.5418 492.276 57.7208C492.453 57.8998 492.694 58 492.944 58H508.056C508.306 58 508.547 57.8998 508.724 57.7208C508.901 57.5418 509 57.2984 509 57.0454V37.9546C509 37.7016 508.901 37.4582 508.724 37.2792C508.547 37.1002 508.306 37 508.056 37L508.056 37ZM507.111 38.9091V40.8182H493.889V38.9091H507.111ZM493.889 56.0909V42.7273H507.111V56.0909H493.889Z" fill="#2A3D48"></path>
           <path fill-rule="evenodd" clip-rule="evenodd" d="M466 46H472V48H466V46Z" fill="#2A3D48"></path>
           <path fill-rule="evenodd" clip-rule="evenodd" d="M468.5 58.0001C465.467 58.0001 462.732 59.8282 461.572 62.6289C460.41 65.432 461.052 68.6593 463.196 70.8037C465.341 72.9482 468.568 73.5903 471.371 72.4279C474.172 71.2677 476 68.5326 476 65.4998C475.995 61.3609 472.639 58.0048 468.5 58L468.5 58.0001ZM468.5 71.1248C466.224 71.1248 464.174 69.7537 463.304 67.6514C462.432 65.5515 462.915 63.1304 464.523 61.5226C466.131 59.9148 468.552 59.432 470.652 60.3039C472.754 61.1734 474.125 63.2241 474.125 65.4999C474.123 68.6053 471.606 71.1224 468.5 71.1247L468.5 71.1248Z" fill="#2A3D48"></path>
       </svg>
       <div class="flex flex-wrap mt-4 lg:mt-6 bean-list">
           <div class="flex flex-col pb-8 leading-snug lg:w-1/3 lg:pb-3 lg:p-3 lg:px-16">
               <h3 class="mb-2 text-xl leading-snug lg:mb-4">Do you want to create a network of cycling tracks across the globe. </h3>
               <p>You  share our dreams.</p>
           </div>
           <div class="flex flex-col pb-8 leading-snug lg:w-1/3 lg:pb-3 lg:p-3 lg:px-16">
             <h3 class="mb-2 text-xl leading-snug lg:mb-4">Do you carry cycle repair kit <br class="hidden lg:block">while cycling</h3>
             <p>You share our habits .</p>
           </div>
           <div class="flex flex-col pb-8 leading-snug lg:w-1/3 lg:pb-3 lg:p-3 lg:px-16">
               <h3 class="mb-2 text-xl leading-snug lg:mb-4">Do you believe in Neighhborhood <br class="hidden lg:block"> Ecosystem</h3>
               <p>You share our vision.</p>
           </div>
       </div>
   </section>



   <section class="flex flex-wrap mx-auto section square-section">
    <div class="relative flex items-center justify-center w-full lg:w-1/2 bg-peach-100">
      <figure class="w-full h-full bg-center bg-no-repeat bg-cover aspect lg:hidden" style="background-image: url(https://res.cloudinary.com/dsmfsfyci/image/upload/v1596011556/nncfcycleinfra/hannah-reding-voqIZNg9dDQ-unsplash_zeqwle.jpg?vsn=d)"></figure>
      <figure class="hidden w-full h-full bg-center bg-no-repeat bg-cover lg:block aspect" style="background-image: url(https://res.cloudinary.com/dsmfsfyci/image/upload/v1596011556/nncfcycleinfra/hannah-reding-voqIZNg9dDQ-unsplash_zeqwle.jpg?vsn=d)"></figure>
    </div>
    <div class="flex flex-col justify-center p-6 pt-12 lg:w-1/2 md:p-12 mb:pb-32 lg:pt-20 lg:pb-12 lg:px-20">
      <div class="relative flex flex-col mx-auto max-width-3">
        <h3 class="mb-4 text-3xl leading-snug text-center md:text-left lg:text-4xl md:pr-24"> Join our innovative and creative cycling team </h3>
        <ul class="mt-4 mb-5 checklist lg:pr-20 md:mt-8">
          <li>Build the future of mobility</li>
          <li>Join a network of game-changers</li>

        </ul>
        <a href="#" class="inline-block bg-secondarydark font-condensed text-white py-2 px-5 text-base rounded-full hover:shadow-lg hover:bg-secondarylight  hover:text-white">Stay Connected With Us</a>

       </div>
    </div>
  </section>
