<!-- CARD COMPONENT -->
<!-- NAVBAR COMPONENT -->
<div class="container mt-5 mx-auto px-2">
  <!-- BUTTON COMPONENT -->
  <!-- ALERT COMPONENT -->
</div>
<!-- CARD COMPONENT -->
<div class="max-w-sm pt-20 mx-auto flex p-6 bg-gray-100 rounded-lg shadow-xl">
  <div class="flex-shrink-0">
    <img src="https://i.ibb.co/vX8pYzZ/logo-only.png" alt="" class="h-12 w-12" />
  </div>
  <div class="ml-6 pt-11">
    <h4 class="text-xl text-gray-900">Awards and Recognition </h4>
    <p class="text-base text-gray-600">NNCF has been recognized by the following awards !</p>
  </div>
</div>

<!-- CARD COLUMNS -->
<div class="container mt-5 mx-auto px-2">
  <!-- Flex on med screens and up -->
  <div class="md:flex">
    <div class="flex-1 text-gray-700 text-center bg-gray-400 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595963623/nncfcycleinfra/startupaward_yncg6r.jpg" alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm text-indigo-600 font-bold">
            Start up cell
          </div>



          <div class="block mt-1 text-lg leading-tight text-gray-900 ">
            Namma Nimma Cycle is one of the startups that is being recognised for the innovation for enabling the creation of DIGITAL PLATFORM for CYCLE TOURISM and CYCLE SHARING.
            We hope to create unique experience for cycle tourism and also enable faster commute to METRO with support from Startup Karnataka
          </div>
        </div>
      </div>
    </div>
    <div class="flex-1 text-gray-700 text-center bg-gray-400 px-5 py-5 m-2 rounded">
      <div class="lg:flex lg:items-center">
        <div class="lg:flex-shrink-0">
          <img class="rounded-lg lg:w-64" src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595963557/nncfcycleinfra/sureshprabh2_focz2u.jpg
                  " alt="" />
        </div>
        <div class="mt-4 lg:mt-0 lg:ml-6">
          <div class="uppercase tracking-wide text-sm text-indigo-600 font-bold">
            Sustainable Leadership Award
          </div>
          <div class="block mt-1 text-lg leading-tight text-gray-900 ">
            Namma Nimma Cycle got an AWARD for sustainable leadership Parivartan Award
          </div>
        </div>
      </div>
    </div>




  </div>

  <div class="flex-1 text-gray-700 text-center bg-gray-400 px-5 py-5 m-2 rounded">
    <div class="lg:flex lg:items-center">
      <div class="lg:flex-shrink-0">
        <img class="rounded-lg lg:w-64" src=" https://res.cloudinary.com/dsmfsfyci/image/upload/v1596460652/gallery-pics/guinness_erdpdi.jpg" alt="" />
      </div>
      <div class="mt-4 lg:mt-0 lg:ml-6">
        <div class="uppercase tracking-wide text-sm text-indigo-600 font-bold">
          Guinness Book Of Records
        </div>
        <div class="block mt-1 text-lg leading-tight text-gray-900 ">
           Go Native, Namma Nimma Cycle Foundation and Let’s Be The Change, conducted the Plog Run on Oct 2 2017 and collected 34 Tons of Plastic
           to enter the Guinness Book Of World Records.
        </div>
      </div>
    </div>
  </div>


</div>
