<!-- NAVBAR COMPONENT -->
<div class="container mt-5 mx-auto px-2">
  <!-- BUTTON COMPONENT -->
  <!-- ALERT COMPONENT -->
</div>
<!-- CARD COMPONENT -->
<div class="max-w-sm pt-20 mx-auto flex p-6 bg-white rounded-lg shadow-xl">
  <div class="flex-shrink-0">
    <img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1595956108/kaveri/man-riding-bike-street-vector-illustration_80802-92_xu6ev5.jpg" alt="" class="h-12 w-12" />
  </div>
  <div class="ml-6 ">
    <h4 class="text-xl text-gray-900">Our Team    </h4>
    <p class="text-base text-gray-600">United by Passion for Cycling </p>
  </div>
</div>


<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 xl:grid-cols-4 gap-4">

  <div class="flex flex-col items-center justify-center bg-white p-4 shadow rounded-lg">
    <div class="inline-flex shadow-lg border border-gray-200 rounded-full overflow-hidden h-40 w-40">
      <img src="https://yogi.run/assets/img/team/team-01.jpg" alt="" class="h-full w-full">
    </div>

    <h2 class="mt-4 font-bold text-xl">Murali HR </h2>
    <h6 class="mt-2 text-sm font-medium">CEO & Founder</h6>

    <p class="text-xs text-black-500 text-center mt-3">
      Behind many initiatives of Cycling from Cycle Infrastructure to creating the technology platform
    </p>


  </div>

  <div class="flex flex-col items-center justify-center bg-white p-4 shadow rounded-lg">
    <div class="inline-flex shadow-lg border border-gray-200 rounded-full overflow-hidden h-40 w-40">
      <img src="https://yogi.run/assets/img/team/team-02.jpg" alt="" class="h-full w-full">
    </div>

    <h2 class="mt-4 font-bold text-xl">Sunil KG </h2>
    <h6 class="mt-2 text-sm font-medium">Chief Evangelist</h6>

    <p class="text-xs text-black-500 text-center mt-3">
      Conceptualizer of many initiatives for Sustainability .
    </p>


  </div>

  <div class="flex flex-col items-center justify-center bg-white p-4 shadow rounded-lg">
    <div class="inline-flex shadow-lg border border-gray-200 rounded-full overflow-hidden h-40 w-40">
      <img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1596458203/nncfcycleinfra/naresh_l5gzuz.jpg" alt="" class="h-full w-full">
    </div>

    <h2 class="mt-4 font-bold text-xl">Naresh Bharadwaj</h2>
    <h6 class="mt-2 text-sm font-medium">Strategic Advisor</h6>

    <p class="text-xs text-black-500 text-center mt-3">
      Business Strategy and Advisory member for NNCF.
    </p>


  </div>

  <div class="flex flex-col items-center justify-center bg-white p-4 shadow rounded-lg">
    <div class="inline-flex shadow-lg border border-gray-200 rounded-full overflow-hidden h-40 w-40">
      <img src="https://res.cloudinary.com/dsmfsfyci/image/upload/v1596458552/nncfcycleinfra/charan_kldwsw.png" alt="" class="h-full w-full">
    </div>

    <h2 class="mt-4 font-bold text-xl">Charan CS</h2>
    <h6 class="mt-2 text-sm font-medium">Public Relations </h6>

    <p class="text-xs text-black-500 text-center mt-3">
    As part of the team is instrumental in enabling PR and outreach at NNCF.
    </p>


  </div>

</div>
